<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">Create Report Date Range</li>
</ul>

<h2>Create Report Date Range</h2>

<?php echo $this->form; ?>

<script>
    $(function() {
        $("#start_date, #end_date").datepicker();
    });
</script>
