<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">Department Code Lookup</li>
</ul>

<p>The following department codes are listed for current users of the system. If you wish to see users who have been assigned that code, click "Show Users" in the pane next to the Department Code.</p>

<?php if (count($this->usersByShortCode) > 0): ?>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Department Code</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach($this->usersByShortCode as $code => $usersArray): ?>
		<tr>
			<td><?php echo $code; ?></td>
			<td>
				<a href="#<?php echo $code; ?>" role="button" data-toggle="modal" class="btn btn-success">Show Users</a>
				<div id="<?php echo $code; ?>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<?php echo $code;?>-label" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="<?php echo $code;?>-label"><?php echo $code; ?></h3>
					</div>
					<div class="modal-body">
						<p>The following users have this department code (scroll as needed):</p>
						<ul>
							<?php foreach($usersArray as $key => $user): ?>
								<li><?php echo $user['firstName'] . ' ' . $user['lastName'] . ' (' . $user['webExId'] . ')'; ?></li>
							<?php endforeach; ?>
						</ul>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</div>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
<?php else: ?>

<?php endif; ?>
