<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">Edit Report Group</li>
</ul>

<h2>Edit Report Group</h2>

<p><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'department-code-lookup'), 'default', true); ?>" target="_blank" class="btn btn-primary">List of users by department code</a></p>

<?php echo $this->form; ?>
