<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">ITC Panel</li>
</ul>

<h3>Reporting Parameters</h3>
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="My Report Groups">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'report-groups'), 'default', true); ?>">
					<i class="fa fa-5x fa-check"></i><br>
					My Report Groups
				</a>
			</div>
            <div class="span2 adminPanel" title="My Report Date Ranges">
                <a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'report-date-ranges'), 'default', true); ?>">
                    <i class="fa fa-5x fa-calendar"></i><br>
                    My Report Date Ranges
                </a>
            </div>
			<div class="span2 adminPanel" title="Users By Department">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'department-code-lookup'), 'default', true); ?>">
					<i class="fa fa-5x fa-users"></i><br>
					Users By Department
				</a>
			</div>
		</div>
	</div>
</div>

<h3>Reporting</h3>
<?php if (!$this->showReports): ?>
	<p><em>Note: you must have at least one Report Group defined in order to view reports.</em></p>
<?php else: ?>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Usage Summary">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'usage-summary'), 'default', true); ?>">
					<i class="fa fa-5x fa-table"></i><br>
					Usage Summary
				</a>
			</div>
			<div class="span2 adminPanel" title="Usage Trends">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'usage-trends'), 'default', true); ?>">
					<i class="fa fa-5x fa-area-chart"></i><br>
					Usage Trends
				</a>
			</div>
			<!--<div class="span2 adminPanel" title="Session Report">-->
			<!--	<a class="thumbnail text-center" href="--><?php //echo $this->url(array('controller' => 'itc', 'action' => 'session-report'), 'default', true); ?><!--">-->
			<!--		<i class="fa fa-5x fa-hourglass"></i><br>-->
			<!--		Session Report-->
			<!--	</a>-->
			<!--</div>-->
			<!--<div class="span2 adminPanel" title="Recording Report">-->
			<!--	<a class="thumbnail text-center" href="--><?php //echo $this->url(array('controller' => 'itc', 'action' => 'recording-report'), 'default', true); ?><!--">-->
			<!--		<i class="fa fa-5x fa-film"></i><br>-->
			<!--		Recording Report-->
			<!--	</a>-->
			<!--</div>-->
			<!--<div class="span2 adminPanel" title="Telephony Report">-->
			<!--	<a class="thumbnail text-center" href="--><?php //echo $this->url(array('controller' => 'itc', 'action' => 'telephony-report'), 'default', true); ?><!--">-->
			<!--		<i class="fa fa-5x fa-phone"></i><br>-->
			<!--		Telephony Report-->
			<!--	</a>-->
			<!--</div>-->
		</div>
	</div>
</div>

<?php endif; ?>