<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">My Report Date Ranges</li>
</ul>

<h2>My Report Date Ranges</h2>

<?php if ($this->dateRanges): ?>
    <p>Note: if no active range is selected, then the reporting will default to the previous 30 days.</p>
	<table class="table table-bordered table-striped table-condensed">
		<thead>
		<tr>
            <th>Active?</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($this->dateRanges as $index => $range): ?>
			<tr>
                <td>
                    <?php if ($range['isActive'] == 'y'): ?>
                        <a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'set-active-date-range', 'rangeId' => 'none'), 'default', true); ?>" class="btn btn-danger"><i class="fa fa-times"></i> De-select</a>
                    <?php else: ?>
                        <a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'set-active-date-range', 'rangeId' => $range["rangeId"]), 'default', true); ?>" class="btn btn-default"><i class="fa fa-check"></i> Select</a>
                    <?php endif; ?>
                </td>
				<td><?php echo date('m/d/Y', $range["startTimestamp"]); ?></td>
				<td><?php echo date('m/d/Y', $range["endTimestamp"]); ?></td>
				<td>
					<a href="#confirmDelete" role="button" class="btn btn-danger" data-toggle="modal"><i class="fa fa-trash"></i> Delete</a>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>

<?php else: ?>
	<p>You do not have any date ranges. The default will be used (past 30 days).</p>
<?php endif; ?>

<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'create-report-date-range'), 'default', true); ?>" class="btn btn-success"><i class="fa fa-plus"></i> New Date Range</a>


<!-- Modal for confirming deletion of report group -->
<div id="confirmDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="confirmDeleteLabel">Really delete date range?</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this Date Range? This action cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i> No, leave it</button>
		<a class="btn btn-success" href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'delete-date-range', 'rangeId' => $range["rangeId"]), 'default', true); ?>"><i class="fa fa-check"></i> Yes, delete it</a>
	</div>
</div>
