<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">My Report Groups</li>
</ul>

<h2>My Report Groups</h2>

<?php if ($this->reportGroups): ?>
	<table class="table table-bordered table-striped table-condensed">
		<thead>
		<tr>
            <th>Default?</th>
			<th>Group Name</th>
			<th>Department Codes</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($this->reportGroups as $index => $group): ?>
			<tr>
                <td>
                    <?php if ($group['isDefault'] == 'y'): ?>
                        <button class="btn btn-primary" disabled><i class="fa fa-check-circle"></i> Default</button>
                    <?php else: ?>
                        <a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'set-default-report-group', 'reportGroupId' => $group["reportGroupId"]), 'default', true); ?>" class="btn btn-default"><i class="fa fa-check"></i> Set</a>
                    <?php endif; ?>
                </td>
				<td><?php echo $group["displayName"]; ?></td>
				<td><?php echo str_replace(",", ", ", $group["orgShortCodeList"]); ?></td>
				<td>
					<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'edit-report-group', 'reportGroupId' => $group["reportGroupId"]), 'default', true); ?>" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#confirmDelete" role="button" class="btn btn-danger" data-toggle="modal"><i class="fa fa-trash"></i> Delete</a>
					<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'usage-summary', 'reportGroupId' => $group["reportGroupId"]), 'default', true); ?>" class="btn btn-default"><i class="fa fa-area-chart"></i> View Report</a>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>

<?php else: ?>
	<p>You do not have any report groups.</p>
<?php endif; ?>

<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'create-report-group'), 'default', true); ?>" class="btn btn-success"><i class="fa fa-plus"></i> New Report Group</a>


<!-- Modal for confirming deletion of report group -->
<div id="confirmDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="confirmDeleteLabel">Really delete report group?</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this Report Group? This action cannot be undone.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i> No, leave it</button>
		<a class="btn btn-success" href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'delete-report-group', 'reportGroupId' => $group["reportGroupId"]), 'default', true); ?>"><i class="fa fa-check"></i> Yes, delete it</a>
	</div>
</div>
