<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">Session Report</li>
</ul>

<?php require_once('partials/report-group-modal.phtml'); ?>

<hr>

<p>Showing results from the last 30 days (coming soon, configurable dates)</p>

<?php if (count($this->sessions) > 0): ?>
	<table class="table table-bordered table-striped table-condensed">
		<thead>
		<tr>
			<th>Start Time</th>
			<th>Host</th>
			<th>Host Name</th>
			<th>Duration</th>
			<th>Total Attendees</th>
			<th>Department Code</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($this->sessions as $session): ?>
			<tr>
				<td><?php echo date("m/d/Y h:i:s a", $session["start_time_utc"]); ?></td>
				<td><?php echo $session["host_username"]; ?></td>
				<td><?php echo $session["host_name"]; ?></td>
				<td><?php echo $session["duration"]; ?></td>
				<td><?php echo $session["total_attendees"]; ?></td>
				<td><?php echo $session["orgShortCode"]; ?></td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>
<?php else: ?>
	<p><em>No sessions found for these reporting parameters.</em></p>
<?php endif; ?>

