<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">Usage Summary</li>
</ul>

<div class="row">
    <div class="span6">
        <?php require_once('partials/report-group-modal.phtml'); ?>
    </div>
    <div class="span6">
        <?php require_once('partials/date-range-modal.phtml'); ?>
    </div>
</div>

<hr>

<h3>Overall Statistics</h3>
<div class="row">
	<div class="span4">
		<div class="dashboard-panel panel">
			<div class="panel-heading"><i class="fa fa-hourglass"></i> Total Sessions</div>
			<?php echo $this->reportArray["sessions"]["totals"]["results"]; ?>
			<div class="panel-footer">
				<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'usage-by-department', 'reportGroupId' => $this->reportGroupId, 'usageType' => 'sessions'), 'default', true); ?>" class="btn btn-primary text-center">Usage by Department</a>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="dashboard-panel panel">
			<div class="panel-heading"><i class="fa fa-film"></i> Total Recordings</div>
			<?php echo $this->reportArray["recordings"]["totals"]["results"]; ?>
			<div class="panel-footer">
				<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'usage-by-department', 'reportGroupId' => $this->reportGroupId, 'usageType' => 'recordings'), 'default', true); ?>" class="btn btn-primary text-center">Usage by Department</a>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="dashboard-panel panel">
			<div class="panel-heading"><i class="fa fa-user"></i> Total Attendees</div>
			<?php echo $this->reportArray["attendees"]["totals"]["results"]; ?>
			<div class="panel-footer">
				<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'usage-by-department', 'reportGroupId' => $this->reportGroupId, 'usageType' => 'attendees'), 'default', true); ?>" class="btn btn-primary text-center">Usage by Department</a>
			</div>
		</div>
	</div>
</div>

<h3>Detailed Statistics</h3>
<div class="row">
	<div class="span3">
		<div class="dashboard-panel panel">
			<div class="panel-heading"><i class="fa fa-user"></i> Unique Users</div>
			<p>Hosts: <?php echo $this->reportArray["sessions"]["totals"]["unique_session_hosts"]; ?></p>
			<p>Attendees: <?php echo $this->reportArray["attendees"]["totals"]["unique_attendees"]; ?></p>
		</div>
	</div>

	<div class="span3">
		<div class="dashboard-panel panel">
			<div class="panel-heading"><i class="fa fa-desktop"></i> Attendee Devices</div>
                <p>Desktop: <?php echo $this->reportArray["attendees"]["totals"]["desktop_users"]; ?></p>
                <p>Mobile: <?php echo $this->reportArray["attendees"]["totals"]["mobile_users"]; ?></p>
		</div>
	</div>
</div>

