<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li class="active">Usage Trends</li>
</ul>

<div class="row">
    <div class="span4">
        <?php require_once('partials/report-group-modal.phtml'); ?>
    </div>
    <div class="span4">
        <?php require_once('partials/date-range-modal.phtml'); ?>
    </div>
	<div class="span4">
		<?php require_once('partials/change-report-interval.phtml'); ?>
	</div>
</div>

<hr>

<h4><?php echo ucwords($this->interval); ?> Usage, <?php echo $this->dateRange; ?></h4>

<table class="table table-bordered table-striped table-condensed">
	<thead>
	<tr>
		<th>Date(s)</th>
		<?php foreach(reset($this->sortedData)["data"] as $header => $value): ?>
			<th><?php echo $header; ?></th>
		<?php endforeach; ?>
	</tr>
	</thead>
	<tbody>
	<?php foreach($this->sortedData as $range => $data): ?>
		<tr>
			<td><?php echo $range; ?></td>
			<?php foreach($data["data"] as $header => $value): ?>
				<td><?php echo $value; ?></td>
			<?php endforeach; ?>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<h4>Chart</h4>

<div id="chartContainer"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
    Highcharts.chart('chartContainer', {

        title: {
            text: '<?php echo ucwords($this->interval); ?> Usage, <?php echo $this->dateRange; ?>'
        },

        subtitle: {
            text: '<?php echo $this->environmentName; ?>'
        },

        xAxis: {
            title: {
                text: 'Range'
			},
			categories: ['<?php echo implode("', '", $this->highchartsData["seriesPoints"]); ?>']
		},

        yAxis: {
            title: {
                text: 'Number'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [<?php foreach($this->highchartsData["seriesData"] as $name => $dataSeries): ?>{
            name: '<?php echo $name; ?>',
            data: [<?php echo implode(", ", $dataSeries) ?>]
        },<?php endforeach; ?>]

    });
</script>
