<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'index'), 'default', true); ?>">ITC Panel</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'usage-summary', 'reportGroupId' => $this->reportGroupId), 'default', true); ?>">Usage Summary</a> <span class="divider">/</span></li>
	<li class="active">Usage by Department</li>
</ul>

<div class="row">
    <div class="span6">
        <?php require_once('partials/report-group-modal.phtml'); ?>
    </div>
    <div class="span6">
        <?php require_once('partials/date-range-modal.phtml'); ?>
    </div>
</div>

<?php $helper = new Wst_Model_Helpers_General(); ?>

<hr>

<h3><?php echo ucwords($this->usageType); ?> by Department</h3>

<?php if ($this->reportData["totals"]["results"] > 0): ?>
	<p>
		<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'generate-csv', 'reportType' => $this->usageType, 'reportGroupId' => $this->reportGroupId), 'default', true); ?>"
				class="btn btn-success"><i class="fa fa-file-text-o"></i> Download CSV</a>
	</p>

	<?php if ($this->reportData["totals"]["results"] > 750): ?>
		<div class="alert alert-warning" role="alert">
			<strong>Warning</strong>: requested data set is over 750 records - onscreen display is not available. Please
			<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'generate-csv', 'reportType' => $this->usageType, 'reportGroupId' => $this->reportGroupId), 'default', true); ?>">download the CSV</a> instead.
		</div>
	<?php else: ?>

		<?php foreach($this->reportData["data"] as $orgShortCode => $data): ?>
			<h4>
				<?php echo $orgShortCode; ?> - <?php echo count($data); ?> total

				<?php if ($this->usageType == "attendees"): ?>
					<?php $deviceBreakdown = array_count_values(array_column($data, "os_type")); ?>
					<em>(Desktop: <?php echo isset($deviceBreakdown["desktop"]) ? $deviceBreakdown["desktop"] : 0; ?> /
						Mobile: <?php echo isset($deviceBreakdown["mobile"]) ? $deviceBreakdown["mobile"] : 0; ?>)</em>
				<?php endif; ?>
			</h4>
			<table class="table table-bordered table-striped table-condensed">
				<?php if ($this->usageType == 'sessions'): ?>
					<thead>
					<tr>
						<th>Start Time</th>
						<th>Duration (min.)</th>
						<th># of Attendees</th>
						<th>VoIP Users</th>
						<th>Call-in Users</th>
						<th>Call-in Minutes</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach($data as $session): ?>
						<tr>
							<td><?php echo date("m/d/Y h:i:s a", $session["start_time_utc"]); ?></td>
							<td><?php echo $session["duration"]; ?></td>
							<td><?php echo $session["total_attendees"] ?: 0; ?></td>
							<td><?php echo $session["voip_participants"] ?: 0; ?></td>
							<td><?php echo $session["call_in_participants"] ?: 0; ?></td>
							<td><?php echo $session["call_in_minutes"] ?: 0; ?></td>
						</tr>
					<?php endforeach; ?>
					</tbody>
				<?php elseif ($this->usageType == 'recordings'): ?>
					<thead>
					<tr>
						<th>Recording Time</th>
						<th>Duration</th>
						<th>File Size (MB)</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach($data as $recording): ?>
						<tr>
							<td><?php echo date("m/d/Y h:i:s a", $recording["create_time_utc"]); ?></td>
							<td><?php echo $helper->secondsToTime($recording["duration_sec"]); ?></td>
							<td><?php echo round($recording["size_mb"], 2); ?></td>
						</tr>
					<?php endforeach; ?>
					</tbody>
				<?php elseif ($this->usageType == 'attendees'): ?>
					<thead>
					<tr>
						<th>Join Time</th>
						<th>Leave Time</th>
						<th>Duration (min.)</th>
						<th>Participant Type</th>
						<th>OS</th>
						<th>Browser</th>
						<th>OS Type</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach($data as $attendee): ?>
						<tr>
							<td><?php echo date("m/d/Y h:i:s a", $attendee["join_time_utc"]); ?></td>
							<td><?php echo date("m/d/Y h:i:s a", $attendee["leave_time_utc"]); ?></td>
							<td><?php echo $attendee["duration"]; ?></td>
							<td><?php echo ucwords(strtolower($attendee["participant_type"])) ?: 0; ?></td>
							<td>
								<nobr><?php echo $attendee["os_icon"] . $attendee["operating_system"]; ?></nobr>
							</td>
							<td>
								<nobr><?php echo $attendee["browser_icon"] . $attendee["browser"]; ?></nobr>
							</td>
							<td><?php echo $attendee["os_type"]; ?></td>
						</tr>
					<?php endforeach; ?>
					</tbody>
				<?php endif; ?>
			</table>
		<?php endforeach; ?>
	<?php endif; ?>
<?php else: ?>
	<p>No data.</p>
<?php endif; ?>
