<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">Recording Management</a> <span class="divider">/</span></li>
	<li class="active">Audit Recording Storage</li>
</ul>

<h3>WebEx Site Configuration</h3>
<p>Recording storage quota: <?php echo round($this->storageQuotaMegabytes, 2); ?> MB (<?php echo $this->storageQuotaMegabytes / 1000; ?> GB)</p>
<hr>

<h3>Usage Summary (local database)</h3>
<p>Quota usage (active, in-trash): <?php echo round($this->storageUsedArray["active"] + $this->storageUsedArray["in-trash"], 2); ?> MB (<?php echo round(($this->storageUsedArray["active"] + $this->storageUsedArray["in-trash"]) / 1000, 2); ?> GB)</p>
<p>Active recordings: <?php echo round($this->storageUsedArray["active"], 2); ?> MB (<?php echo round(($this->storageUsedArray["active"]) / 1000, 2); ?> GB)</p>
<p>In-Trash recordings: <?php echo round($this->storageUsedArray["in-trash"], 2); ?> MB (<?php echo round(($this->storageUsedArray["in-trash"]) / 1000, 2); ?> GB)</p>
<?php if (isset($this->storageUsedArray["deleted-by-user"])): ?>
	<p>Deleted recordings: <?php echo round($this->storageUsedArray["deleted-by-user"], 2); ?> MB (<?php echo round(($this->storageUsedArray["deleted-by-user"]) / 1000, 2); ?> GB)</p>
<?php endif; ?>
<hr>

<h3>Usage Summary (API)</h3>
<p>Active recordings: <?php echo round($this->storageUsedApiArray["active"], 2); ?> MB (<?php echo round(($this->storageUsedApiArray["active"]) / 1000, 2); ?> GB)</p>
<p><a href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "diff-recordings"), "default", true); ?>" class="btn btn-primary">Find differences</a></p>
<hr>

<h3>Details</h3>
<p>Coming eventually.</p>

<?php //dump($this->storageUsedArray); ?>