<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">Recording Management</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'audit-recording-storage'), 'default', true); ?>">Audit Recording Storage</a> <span class="divider">/</span></li>
	<li class="active">Diff Recordings (API vs. Local)</li>
</ul>

<h3>Showing: <?php echo $this->showing; ?></h3>

<?php if ($this->filter != ""): ?>
	<div class="alert alert-block">
		<p><em>Note: Creation Timing Issue indicates that the recording was created after
				the last time the Archive Recordings (Daily) cronjob was run.</em></p>
		<p>Last run of Archive Recordings (Daily) cronjob: <?php echo date("m/d/Y H:i:s", $this->lastRunDt); ?></p>
	</div>
<?php endif; ?>

<p>
<?php if ($this->filter != ""): ?>
	<a class="btn btn-primary" href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "diff-recordings", "filter" => ""), "default", true); ?>">Show recordings with issues (not including timing)</a>
<?php endif; ?>
<?php if ($this->filter != "all-issues"): ?>
	<a class="btn btn-primary" href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "diff-recordings", "filter" => "all-issues"), "default", true); ?>">Show all recordings with issues</a>
<?php endif; ?>
<?php if ($this->filter != "all"): ?>
	<a class="btn btn-primary" href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "diff-recordings", "filter" => "all"), "default", true); ?>">Show all recordings</a>
<?php endif; ?>
</p>

<table class="table table-striped table-bordered">
	<thead>
	<tr>
		<th>Recording ID</th>
		<th>Local Status</th>
		<th>API Status</th>
		<?php if ($this->filter != ""): ?>
			<th>Creation Timing Issue?</th>
		<?php endif; ?>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach($this->diff as $id => $recording): ?>
		<tr class="<?php echo $recording["syncStatus"] ? "success" : "error";?>">
			<td><?php echo $id; ?></td>
			<td><?php echo $recording["localStatus"]; ?></td>
			<td><?php echo $recording["apiStatus"]; ?></td>
			<?php if ($this->filter != ""): ?>
				<td>
					<?php echo (isset($recording["createdAfterLastCronRun"]) && $recording["createdAfterLastCronRun"]) ? "yes" : "no" ?>
					<?php echo (isset($recording["createTime"])) ? "(created " . $recording["createTime"] . ")" : "" ?>
				</td>
			<?php endif; ?>
			<td>
				<?php if ($recording["localStatus"] != "does not exist"): ?>
					<a href="<?php echo $this->url(array("controller" => "reporting", "action" => "recording-details", "recId" => $id), "default", true); ?>" class="btn btn-success">Local Details</a>
				<?php endif; ?>
				<?php if ($recording["apiStatus"] != "does not exist"): ?>
					<a href="<?php echo $this->url(array("controller" => "reporting", "action" => "recording-details-from-api", "recId" => $id), "default", true); ?>" class="btn btn-warning">API Details</a>
				<?php endif; ?>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>


<?php //dump($this->diff); ?>