<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">Recording Management</a> <span class="divider">/</span></li>
	<li class="active">Get Box Token</li>
</ul>

<div class="well">
    <h4>Current Token information:</h4>
    <ul>
        <li><em>Access Token</em>:
            <?php if (!is_null($this->token_info['access_token'])): ?>
                <?php echo $this->token_info['access_token']; ?>
            <?php else: ?>
                <span class="text-error"><i class="fa fa-exclamation-triangle"></i> Not set!</span>
            <?php endif; ?>
        </li>
        <li><em>Refresh Token</em>:
            <?php if (!is_null($this->token_info['refresh_token'])): ?>
                <?php echo $this->token_info['refresh_token']; ?>
            <?php else: ?>
                <span class="text-error"><i class="fa fa-exclamation-triangle"></i> Not set!</span>
            <?php endif; ?>
        </li>
    </ul>
</div>

<p>Click the button below to begin the process. You will be redirected to login to Box (use an Admin/Co-Admin acct). Then when the process is finished, a token will be stored in the WST database for use by Cron Jobs and other features.</p>
<p>Note: You should only do this if the existing token is not working (expired/invalidated/revoked etc). WST is set up to auto-refresh the tokens, so this manual step should only be required the very first time you want to run something in WST.</p>
<form action="<?php echo "https://app.box.com/api/oauth2/authorize?response_type=code&client_id=" . $this->boxCreds['clientId'] . "&state=" . $this->boxCreds['csrfPreventionString']; ?>" method="POST" title="Get Box Dev Token form">
	<p><input class="btn btn-success" type="submit" name="submit" value="Begin Box Token Process"></p>
</form>
