<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">Recording Management</li>
</ul>

<h3>Recording Information</h3>
<div class="row">
	<div class="span12">

		<div class="row">
			<div class="span2 adminPanel" title="Lookup User Recordings">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'user-recordings'), 'default', true); ?>">
					<i class="fa fa-5x fa-list"></i><br>
					List User Recordings
				</a>
			</div>
			<div class="span2 adminPanel" title="Look Up Recordings by ID">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'lookup-by-id'), 'default', true); ?>">
					<i class="fa fa-5x fa-search"></i><br>
					Look Up Recordings by ID
				</a>
			</div>
			<div class="span2 adminPanel" title="View Active Recordings">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'list-recordings', 'status' => 'active'), 'default', true); ?>">
					<i class="fa fa-5x fa-file-movie-o"></i><br>
					View Active Recordings
				</a>
			</div>
		</div>
	</div>
</div>

<h3>Server Information / Operations</h3>
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Manage Failed Transfers">
				<a class="thumbnail text-center"
						href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'manage-failed-transfers'), 'default', true); ?>">
					<i class="fa fa-5x fa-exclamation-triangle"></i><br>
					Manage Failed Transfers
				</a>
			</div>
			<div class="span2 adminPanel" title="View Pending Deletions">
				<a class="thumbnail text-center"
						href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'view-pending-recording-deletions'), 'default', true); ?>">
					<i class="fa fa-5x fa-trash"></i><br>
					View Pending Deletions
				</a>
			</div>
			<div class="span2 adminPanel" title="View Pending Server Purge">
				<a class="thumbnail text-center"
						href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'view-pending-server-purge'), 'default', true); ?>">
					<i class="fa fa-5x fa-server"></i><br>
					View Pending Server Purge
				</a>
			</div>
			<div class="span2 adminPanel" title="Audit Recording Storage">
				<a class="thumbnail text-center"
						href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'audit-recording-storage'), 'default', true); ?>">
					<i class="fa fa-5x fa-hdd-o"></i><br>
					Audit Recording Storage
				</a>
			</div>
		</div>
	</div>
</div>

<h3>External APIs</h3>
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Get Box API Token">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'get-token'), 'default', true); ?>">
					<i class="fa fa-5x fa-check-circle-o"></i><br>
					Get Box API Token
				</a>
			</div>
		</div>
	</div>
</div>