<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">Recording Management</a> <span class="divider">/</span></li>
	<li class="active">Lookup by ID</li>
</ul>

<?php if (isset($this->recordingInformation) && count($this->recordingInformation) > 0): ?>
	<h4>Recordings found in WebEx:</h4>
	<table class="table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Rec Date</th>
			<th>Username</th>
			<th>Name</th>
			<th>Size</th>
			<th>Duraton</th>
		</tr>
		<?php foreach($this->recordingInformation as $r): ?>
			<tr>
				<td><?php echo $r["id"]; ?></td>
				<td><?php echo $r["recDate"]; ?></td>
				<td><?php echo $r["username"]; ?></td>
				<td><?php echo $r["name"]; ?></td>
				<td><?php echo $r["size"]; ?></td>
				<td><?php echo $r["duration"]; ?></td>
			</tr>
		<?php endforeach; ?>
	</table>

<hr>

<?php endif; ?>

<?php if (isset($this->notFound) && count($this->notFound) > 0): ?>
	<h4>Recording IDs not found:</h4>
	<p>These recordings are either invalid IDs, in the Trash, or Deleted</p>

	<ul>
		<?php foreach($this->notFound as $id): ?>
			<li><?php echo $id; ?></li>
		<?php endforeach; ?>
	</ul>

	<hr>

<?php endif; ?>

<p>Enter a list of recording IDs to check below.<p>

<?php echo $this->form; ?>