<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">Recording Management</a> <span class="divider">/</span></li>
	<li class="active">Manage Failed Transfers</li>
</ul>

<h3>Failed Transfers</h3>

<?php if (!$this->recordings): ?>
	<p>No recordings with failed transfers exist.</p>
<?php else: ?>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
		<tr>
			<th>ID</th>
			<th>Host</th>
			<th>Create Time</th>
			<th>Failure type</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($this->recordings as $r): ?>
			<?php
				$type = $r["download_status"] == "failed" ? "download" : "upload"; // will need to change this later if we add in deletion failures.
			?>
			<tr>
				<td><?php echo $r["recording_id"]; ?></td>
				<td><?php echo $r["host_webex_id"]; ?></td>
				<td><?php echo date("m/d/Y H:i:s", $r["create_time_utc"]); ?></td>
				<td><?php echo $type; ?></td>
				<td>
					<a href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "update-failed-transfer", "id" => $r["recording_id"], "type" => $type, "updateAction" => "requeue"), "default", true); ?>" class="btn btn-success">Requeue</a>
					<a href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "update-failed-transfer", "id" => $r["recording_id"], "type" => $type, "updateAction" => "ignore"), "default", true); ?>" class="btn btn-warning">Ignore</a>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>

	</table>
<?php endif; ?>

<h3>Ignored Transfers</h3>

<?php if (!$this->recordingsIgnored): ?>
	<p>No recordings with ignored transfers exist.</p>
<?php else: ?>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
		<tr>
			<th>ID</th>
			<th>Host</th>
			<th>Create Time</th>
			<th>Transfer type</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($this->recordingsIgnored as $r): ?>
			<?php
			$type = $r["download_status"] == "ignored" ? "download" : "upload"; // will need to change this later if we add in deletion failures.
			?>
			<tr>
				<td><?php echo $r["recording_id"]; ?></td>
				<td><?php echo $r["host_webex_id"]; ?></td>
				<td><?php echo date("m/d/Y H:i:s", $r["create_time_utc"]); ?></td>
				<td><?php echo $type; ?></td>
				<td>
					<a href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "update-failed-transfer", "id" => $r["recording_id"], "type" => $type, "updateAction" => "requeue"), "default", true); ?>" class="btn btn-success">Requeue</a>
					<a href="<?php echo $this->url(array("controller" => "recordingmanagement", "action" => "update-failed-transfer", "id" => $r["recording_id"], "type" => $type, "updateAction" => "unignore"), "default", true); ?>" class="btn btn-danger">Un-ignore</a>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>

	</table>
<?php endif; ?>

<?php //dump($this->recordings); ?>