<ul class="breadcrumb">
    <li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
    <li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">Recording Management</a> <span class="divider">/</span></li>
    <li class="active">Next Server Purge</li>
</ul>

<p>These recordings would be deleted from local server storage if the cronjob ran right now.</p>

<p><strong>PURGE WINDOW SET TO <?php echo $this->cleaningWindow; ?> DAY(S)</strong></p>

<table class="table table-striped table-bordered">
    <tr>
        <th>Filename</th>
        <th>Server Age</th>
        <th>Size on Disk (MB)</th>
        <th>Username</th>
        <th>Name</th>
        <th>Upload Status</th>
        <th>Cloud Storage Info</th>
    </tr>
    <?php $totalDiskSpaceFreed = 0; ?>
    <?php foreach($this->filesToDelete as $r): ?>
        <tr>
            <td><?php echo $r["recording_id"]; ?>.arf</td>
            <?php
                $createdTimestamp = $r["create_time_utc"];
                $createdSecondsAgo = time() - $createdTimestamp;
                $createdDaysAgo = round($createdSecondsAgo / 60 / 60 / 24, 1);
            ?>
            <td><?php echo $createdDaysAgo . " " . pluralize($createdDaysAgo, "day", "s"); ?></td>
            <?php $totalDiskSpaceFreed += $r["downloaded_file_size_mb"]; ?>
            <td><?php echo $r["downloaded_file_size_mb"]; ?></td>
            <td><?php echo $r["host_webex_id"]; ?></td>
            <td><?php echo $r["name"]; ?></td>
            <td><?php echo $r["upload_status"]; ?></td>
            <?php
                $cloudStorageInfo = json_decode($r["cloud_storage_info"], true);
                $cloudLinks = array();
                foreach ($cloudStorageInfo as $service => $info) {
                    $cloudLinks[] = "<a href='" . $info["link"] . "'>$service</a>";
                }
            ?>
            <td><?php echo implode("<br>",$cloudLinks); ?></td>
        </tr>
    <?php endforeach; ?>
</table>

<p><strong>TOTAL DISK SPACE FREED: <?php echo $totalDiskSpaceFreed; ?> MB</strong></p>

<?php //dump($this->filesToDelete); ?>
