<ul class="breadcrumb">
    <li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
    <li><a href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">Recording Management</a> <span class="divider">/</span></li>
    <li class="active">Recordings pending deletion</li>
</ul>

<h4>Recordings pending deletion:</h4>
<p>These recordings would be deleted if the cronjob ran right now.</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>ID</th>
        <th>Rec Date</th>
        <th>Username</th>
        <th>Name</th>
        <th>Size</th>
        <th>Duraton</th>
    </tr>
    <?php foreach($this->recordings as $r): ?>
        <tr>
            <td><?php echo $r["recording_id"]; ?></td>
            <td><?php echo $r["create_time_utc"]; ?></td>
            <td><?php echo $r["host_webex_id"]; ?></td>
            <td><?php echo $r["name"]; ?></td>
            <td><?php echo $r["size_mb"]; ?></td>
            <td><?php echo $r["duration_sec"]; ?></td>
        </tr>
    <?php endforeach; ?>
</table>

<?php //dump($this->recordings); ?>
