<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li>Add WebEx User to Local DB</li>
</ul>

<p>This form should be used when there is a user currently in WebEx who does not (but should) exist in the local database. If API add calls are failing, but the user does exist in WebEx, then this is a good place to be.</p>
<p><em>Note: users added via this form are assumed to be feed-managed. If this is not the case, then add an override for the user after adding.</em></p>

<?php echo $this->form; ?>

<script language="javascript">
	// datepicker automatically will set itself to the current value in the field
	// dateFormat seems different, but this is because there are some differences
	// between formats in Zend_Data and JQuery.
	$("#start_date, #end_date").datepicker();
</script>
