<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li class="active">Check User Eligibility</li>
</ul>

<?php if (isset($this->resultsArray)): ?>
	<h4>Showing <?php echo count($this->resultsArray["data"]); ?> eligibility check <?php echo pluralize(count($this->resultsArray), "result", "s"); ?></h4>

	<p>LDAP flags being used for LDAP qualification:</p>
	<ul>
		<?php foreach($this->resultsArray["eligibilityFields"] as $f): ?>
		<li><?php echo $f; ?></li>
		<?php endforeach; ?>
	</ul>

	<table class="table table-condensed table-striped table-bordered">
		<thead>
		<tr>
			<th>Username</th>
			<?php if ($this->userSourceType == "ldap"): ?>
				<th>Found in LDAP?</th>
				<th>Primary Account?</th>
			<?php endif; ?>
			<th>How User Qualified</th>
			<th>Eligible?</th>
		</tr>
		</thead>
		<tbody>
			<?php foreach($this->resultsArray["data"] as $username => $r): ?>
			<tr class="<?php echo $r["eligible"] ? "success" : "error";?>">
				<td><?php echo $username; ?></td>
				<?php if ($this->userSourceType == "ldap"): ?>
				<td>
					<?php if ($r["ldapSuccess"]): ?>
						<p class="text-success text-center"><i class="fa fa-2x fa-check"></i> Yes</p>
					<?php else: ?>
						<p class="text-error text-center"><i class="fa fa-2x fa-times"></i> No</p>
					<?php endif; ?>
				</td>
				<td>
					<?php if (isset($r["isPrimary"]) && $r["isPrimary"]): ?>
						<p class="text-success text-center"><i class="fa fa-2x fa-check"></i> Yes</p>
					<?php else: ?>
						<p class="text-error text-center"><i class="fa fa-2x fa-times"></i> No</p>
					<?php endif; ?>
				</td>
				<?php endif; ?>
				<td>
					<?php if (isset($r["qualifiesVia"])): ?>
						<?php echo $r["qualifiesVia"]; ?>
					<?php else: ?>
						N/A
					<?php endif; ?>
				</td>
				<td>
					<?php if ($r["eligible"]): ?>
						<p class="text-success text-center"><i class="fa fa-2x fa-check-circle"></i> Yes</p>
					<?php else: ?>
						<p class="text-error text-center"><i class="fa fa-2x fa-times-circle"></i> No</p>
					<?php endif; ?>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

<hr>

<?php endif; ?>

<p>Enter a list of usernames to check below.<p>
<p><em>Eligibility is checked <strong>first</strong> with LDAP, and then against the list of Instructors of Record in
		Canvas (for the current Banner feed) if LDAP fails.</em></p>
<?php echo $this->form; ?>