<p>Completing this form will make the user inactive in WebEx. <b>You must manually manage this user's enrollment status until the override expires or is cancelled.</b> User information changes will still flow from the feed.</p>

<h4>Deactivating user with EUID <?php echo $this->euid; ?></h4>

<?php echo $this->form; ?>

<script language="javascript">
	// datepicker automatically will set itself to the current value in the field
	// dateFormat seems different, but this is because there are some differences
	// between formats in Zend_Data and JQuery.
	$("#start_date, #end_date").datepicker();
</script>
