<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default',
		     true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">User Management</li>
</ul>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Manage Webex Users">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'manage-users'), 'default', true); ?>">
					<i class="fa fa-5x fa-sort-amount-asc"></i><br>
					Manage WebEx Users
				</a>
			</div>
			<div class="span2 adminPanel" title="Manually Add WebEx User">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'manually-add-user'), 'default', true); ?>">
					<i class="fa fa-5x fa-user-plus"></i><br>
					Manually Add WebEx User
				</a>
			</div>
			<div class="span2 adminPanel" title="Manage User Overrides">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'manage-user-overrides'), 'default', true); ?>">
					<i class="fa fa-5x fa-user-secret"></i><br>
					Manage User Overrides
				</a>
			</div>
			<div class="span2 adminPanel" title="Add WebEx User to Local DB">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'add-local-user'), 'default', true); ?>">
					<i class="fa fa-5x fa-database"></i><br>
					Add WebEx User to Local DB
				</a>
			</div>
			<div class="span2 adminPanel" title="Check User Eligibility">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'check-user-eligibility'), 'default', true); ?>">
					<i class="fa fa-5x fa-search"></i><br>
					Check User Eligibility
				</a>
			</div>
			<div class="span2 adminPanel" title="User List True-Up">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'user-list-true-up'), 'default', true); ?>">
					<i class="fa fa-5x fa-magic"></i><br>
					User List True-Up
				</a>
			</div>
		</div>
	</div>
</div>