<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li class="active">Manage Overrides</li>
</ul>

<p>This area displays all user overrides in place, and allows the admin to remove and manage the overrides as needed.</p>

<h4>Currently viewing <?php echo $this->overrides->getTotalItemCount() . " " . (isset($this->filter) ? $this->filter . " " : "") . pluralize($this->overrides->getTotalItemCount(), "override", "s") ?></h4>

<p>
	<?php if (isset($this->filter)): ?>
		<a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'manage-user-overrides'), 'default', true); ?>" class="btn btn-primary">View all overrides</a>
	<?php else: ?>
		<a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'manage-user-overrides', 'filter' => 'in-effect'), 'default', true); ?>" class="btn btn-primary">View in-effect overrides only</a>
	<?php endif; ?>
</p>

<table class="table table-bordered table-striped table-sortable table-condensed">
	<thead>
		<tr>
			<th>EUID</th>
			<th>User Status</th>
			<th>WebEx ID</th>
			<th>Name</th>
			<th>Contact</th>
			<th>Starts</th>
			<th>Ends</th>
			<th>In Effect?</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($this->overrides as $index => $o): ?>
			<tr>
				<td><?php echo $o["euid"]; ?></td>
				<td>
					<?php if ($o["user_status"] == "active"): ?>
						<i class="fa fa-check text-success"></i> Active
					<?php else: ?>
						<i class="fa fa-times text-error"></i> Inactive
					<?php endif; ?>
				</td>
				<td><?php echo $o["webExId"]; ?></td>
				<td><?php echo $o["firstName"] . " " . $o["lastName"]; ?></td>
				<td><?php echo $o["contact_email"]; ?></td>
				<td><?php echo date("m/d/Y", $o["start_timestamp"]); ?></td>
				<td><?php echo date("m/d/Y", $o["end_timestamp"]); ?></td>
				<td>
					<?php $time = time(); ?>
					<?php $inEffect = is_null($o["user_reverted_timestamp"]) && is_null($o["cancelled_timestamp"]); ?>

					<?php if ($inEffect): ?>
						<i class="fa fa-check text-success"></i> Yes
					<?php else: ?>
						<i class="fa fa-times text-error"></i> No <?php if (!is_null($o["cancelled_timestamp"])): ?> (cancelled) <?php endif; ?>
					<?php endif; ?>

				</td>
				<td><a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'override-details', 'id' => $o["o_id"]), 'default', true); ?>" class="btn btn-default">Details</a></td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->overrides, 'Sliding', 'searchPaginationControl.phtml'); ?>