<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li class="active">Manage Users</li>
</ul>

<?php echo $this->form; ?>

<h4><?php echo $this->paginator->getTotalItemCount() . " " .  pluralize($this->paginator->getTotalItemCount(), "User", "s") ?> retrieved</h4>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
		<tr>
			<th data-sort="webExId" data-direction="<?php echo ($this->sort == 'webExId') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'webExId') ? $this->direction : ''; ?>">WebEx ID</th>
			<th data-sort="lastName" data-direction="<?php echo ($this->sort == 'lastName') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'lastName') ? $this->direction : ''; ?>">Last Name</th>
			<th data-sort="firstName" data-direction="<?php echo ($this->sort == 'firstName') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'firstName') ? $this->direction : ''; ?>">First Name</th>
			<th data-sort="status" data-direction="<?php echo ($this->sort == 'status') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'status') ? $this->direction : ''; ?>">Status in WebEx</th>
			<th data-sort="source" data-direction="<?php echo ($this->sort == 'source') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'source') ? $this->direction : ''; ?>">Source</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $user): ?>
		<tr class="<?php echo $user['webExId']; ?>">
			<td><?php echo $user["webExId"]; ?></td>
			<td><?php echo $user["lastName"]; ?></td>
			<td><?php echo $user["firstName"]; ?></td>
			<td>
				<?php if ($user["status"] == "active"): ?>
					<i class="fa fa-check text-success"></i> Active
				<?php else: ?>
					<i class="fa fa-times text-error"></i> Inactive
				<?php endif; ?>
			</td>
			<td>
				<?php if ($user["source"] == "feed"): ?>
					<i class="fa fa-cog"></i> Feed
				<?php else: ?>
					<i class="fa fa-user"></i> Manual
				<?php endif; ?>
			</td>
			<td><a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'user-details', 'euid' => $user["euid"]), 'default', true); ?>" class="btn btn-default">User Details</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>
