<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li class="active">Manage Telephony</li>
</ul>

<p>Coming soon.</p>