<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li>Manually Add User</li>
</ul>

<p>Use this form to manually add users to WebEx.</p>
<p><em>Note: users added via this form will not be automatically removed from WebEx via the automated feed; they must be manually managed. User information changes will still flow from the feed source, however.</em></p>

<?php echo $this->form; ?>

<script language="javascript">
	// datepicker automatically will set itself to the current value in the field
	// dateFormat seems different, but this is because there are some differences
	// between formats in Zend_Data and JQuery.
	$("#start_date, #end_date").datepicker();
</script>
