<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'manage-user-overrides'), 'default', true); ?>">Manage Overrides</a> <span class="divider">/</span></li>
	<li class="active">Override Details</li>
</ul>

<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th>EUID</th>
		<td><?php echo $this->override['euid']; ?></td>
	</tr>
	<tr>
		<th>User Status</th>
		<td>
			<?php if ($this->override["user_status"] == "active"): ?>
				<i class="fa fa-check text-success"></i> Active
			<?php else: ?>
				<i class="fa fa-times text-error"></i> Inactive
			<?php endif; ?>
		</td>
	</tr>
	<tr>
		<th>Reason for override</th>
		<td><?php echo $this->override['reason']; ?></td>
	</tr>
	<tr>
		<th>Contact Email</th>
		<td><?php echo $this->override['contact_email']; ?></td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td><?php echo date("m/d/Y", $this->override['start_timestamp']); ?></td>
	</tr>
	<tr>
		<th>End Date</th>
		<td><?php echo date("m/d/Y", $this->override['end_timestamp']); ?></td>
	</tr>
	<tr>
		<th>Override currently in effect?</th>
		<td>
			<?php $time = time(); ?>
			<?php $inEffect = is_null($this->override["user_reverted_timestamp"]) && is_null($this->override["cancelled_timestamp"]); ?>

			<?php if ($inEffect): ?>
				<i class="fa fa-check text-success"></i> Yes
			<?php else: ?>
				<i class="fa fa-times text-error"></i> No
			<?php endif; ?>
		</td>
	</tr>
	<tr>
		<th>Cancellation time</th>
		<td>
			<?php echo (is_null($this->override["cancelled_timestamp"])) ? "N/A" : date("m/d/Y H:i:s", $this->override["cancelled_timestamp"]); ?>
		</td>
	</tr>
	<tr>
		<th>User reverted to normal on</th>
		<td>
			<?php echo (is_null($this->override["user_reverted_timestamp"])) ? "N/A" : date("m/d/Y H:i:s", $this->override["user_reverted_timestamp"]); ?>
		</td>
	</tr>
</table>

<?php if ($inEffect): ?>
<a href="#confirmCancel" role="button" class="btn btn-danger" data-toggle="modal">Cancel Override</a>
<?php endif; ?>

<h3>User Details</h3>

<a class="btn btn-primary" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'user-details', 'euid' => $this->override["euid"]), 'default', true); ?>"> User Details</a>


<!-- Modal for confirming cancellation of override -->
<div id="confirmCancel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmCancelLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="confirmCancelLabel">Cancel user override?</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to cancel this override? The user will be reverted to normal, meaning that the user's provisioning into WebEx will be managed by the incoming feed.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i> No, leave it</button>
		<a class="btn btn-success" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'cancel-override', 'id' => $this->override["o_id"]), 'default', true); ?>"><i class="fa fa-check"></i> Yes, cancel it</a>
	</div>
</div>