<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">User Management</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'usermanagement', 'action' => 'manage-users'), 'default', true); ?>">Manage Users</a> <span class="divider">/</span></li>
	<li class="active">User Details</li>
</ul>

<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th>EUID</th>
		<td><?php echo $this->user['euid']; ?></td>
	</tr>
	<tr>
		<th>WebEx ID</th>
		<td><?php echo $this->user['webExId']; ?></td>
	</tr>
	<tr>
		<th>First Name</th>
		<td><?php echo $this->user['firstName']; ?></td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td><?php echo $this->user['lastName']; ?></td>
	</tr>
	<tr>
		<th>Email address</th>
		<td><?php echo $this->user['email']; ?></td>
	</tr>
	<tr>
		<th>WebEx User ID #</th>
		<td><?php echo $this->user['webExUserId']; ?></td>
	</tr>
	<tr>
		<th>Checksum</th>
		<td><?php echo $this->user['checksum']; ?></td>
	</tr>
	<tr>
		<th>Current Status</th>
		<td>
			<?php if ($this->user["status"] == "active"): ?>
				<i class="fa fa-check text-success"></i> Active
			<?php else: ?>
				<i class="fa fa-times text-error"></i> Inactive
			<?php endif; ?>
		</td>
	</tr>
	<tr>
		<th>Source</th>
		<td>
			<?php if ($this->user["source"] == "feed"): ?>
				<i class="fa fa-cog"></i> Feed
			<?php else: ?>
				<i class="fa fa-user"></i> Manual
			<?php endif; ?>
		</td>
	</tr>
	<tr>
		<th>Department Number</th>
		<td><?php echo $this->user["dept_number"]; ?></td>
	</tr>
	<tr>
		<th>Organization Short Code</th>
		<td><?php echo $this->user["org_short_code"]; ?></td>
	</tr>
	<tr>
		<th>Custom Tracking Codes</th>
		<td>
			<?php
				$customCodes = json_decode($this->user["custom_tracking"], true);
				if (count($customCodes) > 0) {
					foreach($customCodes as $code => $value) {
						echo "$code: $value";
					}
				}
			?>
		</td>
	</tr>
	<tr>
		<th>Telephony Privileges</th>
		<td><?php echo $this->user["telephony_privileges"]; ?></td>
	</tr>
</table>

<?php if ($this->userOverrides): ?>
	<h3>User Override History</h3>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr>
				<th>Override ID</th>
				<th>Contact</th>
				<th>Starts</th>
				<th>Ends</th>
				<th>In Effect?</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		<?php foreach($this->userOverrides as $key => $override): ?>
			<?php $inEffect = is_null($override["user_reverted_timestamp"]) && is_null($override["cancelled_timestamp"]); ?>
			<tr>
				<td><?php echo $override['o_id']; ?></td>
				<td><?php echo $override['contact_email']; ?></td>
				<td><?php echo date("m/d/Y", $override['start_timestamp']); ?></td>
				<td><?php echo date("m/d/Y", $override['end_timestamp']); ?></td>
				<td>
					<?php if ($inEffect): ?>
						<i class="fa fa-check text-success"></i> Yes
					<?php else: ?>
						<i class="fa fa-times text-error"></i> No <?php echo is_null($override["cancelled_timestamp"]) ? " (expired)" : "(cancelled)"; ?>
					<?php endif; ?>
				</td>
				<td>
					<a class="btn btn-default" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'override-details', 'id' => $override['o_id']), 'default', true); ?>">Details</a>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>

<?php endif; ?>

<h3>User Management</h3>

<?php if ($this->user["status"] == "active"): ?>
	<a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'deactivate-user', 'euid' => $this->user["euid"]), 'default', true); ?>"
			class="btn btn-danger">Deactivate</a>

<?php else: ?>
	<a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'activate-user', 'euid' => $this->user["euid"]), 'default', true); ?>"
		class="btn btn-success">Activate</a>

<?php endif; ?>

<a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'user-recordings', 'webExId' => $this->user["webExId"], 'euid' => $this->user["euid"]), 'default', true); ?>"
	class="btn btn-default">View User Recordings</a>
