<?php if ($this->executed): ?>
	<h2>Results:</h2>
	<h3>User changes</h3>
	<?php echo count($this->changesNeeded); ?> user change(s) queued into API queue.

	<h3>Source correction</h3>
	<?php echo count($this->flipToFeed); ?> user(s) reverted to 'feed' source.

<?php else: ?>
	<p>For a time, WST mistakenly changed users to "manual" source when performing certain actions on their record. This meant that these users would no longer be changed by the User Feed data. As a result, this true-up script was born.</p>
	<p>This script will true up the user list, correcting two things:</p>
	<ol>
		<li>First, the script will take every user who exists locally and double-check their eligibility and existence in WebEx. Then, it will queue the appropriate action if this does not match. <em>Example: jdoe1 exists locally, and is eligible for WebEx. However, he is inactive in WebEx. This script would queue an 'edit' action for jdoe1, which would reactivate his account in WebEx.</em></li>
		<li>Second, this script will take any user who is set to 'manual' source and convert them back to 'feed' source, which means any changes to their record in the User Feed will be honored going forward. This will omit any user who has a legitimate override set in the system, and leave them on 'manual' (when the override expires they will be flipped back to 'feed.'</li>
	</ol>

	<h3>Continue...</h3>
	<p><strong>THIS SCRIPT WILL RESULT IN CHANGES IN WEBEX. Please only use it if you are certain that it needs to be executed. Click the button below to proceed.</strong></p>

	<a href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'user-list-true-up', 'execute' => 'y'), 'default', true); ?>" class="btn btn-danger"><i class="fa fa-magic"></i> Continue with the true-up script</a>

<?php endif; ?>


