/**
 * This file should be included last in the CSS.  It is intended to allow you
 * to override any page level elements that were styled previously.  It's also
 * useful for changing the styles of stuff in the ot modules that can't be
 * changed directly.
 */
@media screen {
    a:link.btn,
    a:visited.btn {
        color: #fff;
    }

    a:link.btn.btn-default,
    a:visited.btn.btn-default {
        color: #036;
    }

    #wrap {
        padding-bottom: 24px;
    }
}

/* Signup container styles */
h3 {
    margin-top: 24px;
}

/* Admin Panel item tweaks with FontAwesome */
.thumbnail i {
    padding: 12px;
}

/* Fieldsets for forms */
fieldset {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

legend {
    float: left;
    margin-top: 0px;
}

/* Other form overrides */
form .help-inline {
    background: #ffe6e6;
    color: #b94a48;
    border: 1px solid #b94a48;
    font-style: italic;
    border-radius: 5px;
    padding: 0 8px;
    margin-left: 12px;
    font-size: 0.9em;
}

/* Adds panel support (from bootstrap 3) */
.panel {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px 15px;
    font-size: 17.5px;
    font-weight: 500;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-footer {
    padding: 10px 15px;
    margin: 15px -15px -15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-primary {
    border-color: #428bca;
}

.panel-primary .panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-warning {
    border-color: #fbeed5;
}

.panel-warning .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.panel-danger {
    border-color: #eed3d7;
}

.panel-danger .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-info .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.muted-panels .panel-danger .panel-heading,
.muted-panels .panel-success .panel-heading,
.muted-panels .panel-warning .panel-heading {
    background-color: #f5f5f5;
}

.panel-gray-bg {
    background-color: #E3E3E3;
}

/* admin dashboard styles */
.dashboard-panel {
    font-size: 16px;
    text-align: center;
}

.dashboard-panel .panel-heading {
    font-size: 17.5px;
    text-align: left;
}

/* Bootstrap overrides for spanX */
.span1 {
    width: 58px;
}

.span2 {
    width: 136px;
}

.span3 {
    width: 215px;
}

.span4 {
    width: 293px;
}

.span5 {
    width: 372px;
}

.span6 {
    width: 450px;
}

.span7 {
    width: 528px;
}

.span8 {
    width: 607px;
}

.span9 {
    width: 685px;
}

.span10 {
    width: 764px;
}

.span11 {
    width: 842px;
}

.span12 {
    width: 920px;
}

/* Sortable tables */

.ui-sortable th[data-sort]:hover {
    cursor: pointer;
}

#searchForm input,
#searchForm select {
    margin: 6px 12px 6px 0px;
}

.ui-sortable th.asc,
.ui-sortable th.desc {
    background: #eee;
    font-style: italic;
}

.ui-sortable th.desc::after {
    content: "\2193";
    float: right;
    font-style: normal;
    font-weight: normal;
}

.ui-sortable th.asc::after {
    content: "\2191";
    float: right;
    font-style: normal;
    font-weight: normal;
}

/* popovers in TH tags */

.table th .popover-content {
    font-weight: normal;
}