<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">SLMS Admin Panel</li>
</ul>

<h3>Dashboard</h3>

<div class="row">
	<div class="span<?php echo $this->panelSpan; ?>">
		<div class="dashboard-panel panel<?php echo $this->apiPanelClass; ?>">
			<div class="panel-heading">Current WebEx API Status</div>
			<i class="fa <?php echo $this->apiStatusIcon; ?> fa-2x"></i>
			<?php echo $this->apiStatus; ?>
		</div>
	</div>
	<div class="span<?php echo $this->panelSpan; ?>">
		<div class="dashboard-panel panel">
			<div class="panel-heading">Latest User Data Update</div>
			<?php echo $this->lastFeedTime; ?>
		</div>
	</div>
	<?php if ($this->siteRecordingStorageLimit > 0): ?>
		<div class="span<?php echo $this->panelSpan; ?>">
			<div class="dashboard-panel panel<?php echo $this->recordingPanelClass; ?>">
				<div class="panel-heading">Recording Storage Usage</div>
				<?php echo $this->recordingPanelIcon; ?>
				<?php echo $this->recordingStorageUsage; ?> MB<br>
				<i>(<?php echo $this->percentStorageLimitUsed; ?>% of <?php echo $this->siteRecordingStorageLimit; ?> MB)</i>
			</div>
		</div>
	<?php endif; ?>

	<div class="span<?php echo $this->panelSpan; ?>">
		<div class="dashboard-panel panel<?php echo $this->hostsPanelClass; ?>">
			<div class="panel-heading">Active Host Accounts</div>
			<?php echo $this->hostsPanelIcon; ?>
			<?php echo $this->activeHosts; ?><br>
			<i>(<?php echo $this->percentHostsLimitUsed; ?>% of <?php echo $this->siteActiveHostsLimit; ?>)</i>
		</div>
	</div>
</div>


<h3>Admin Navigation</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Reporting">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">
					<i class="fa fa-5x fa-area-chart"></i><br>
					Reporting
				</a>
			</div>
			<div class="span2 adminPanel" title="User Management">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'usermanagement', 'action' => 'index'), 'default', true); ?>">
					<i class="fa fa-5x fa-user"></i><br>
					User Management
				</a>
			</div>
			<div class="span2 adminPanel" title="Recording Management">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'recordingmanagement', 'action' => 'index'), 'default', true); ?>">
					<i class="fa fa-5x fa-file-movie-o"></i><br>
					Recording Management
				</a>
			</div>
			<div class="span2 adminPanel" title="Telephony Management">
				<a class="thumbnail text-center"
					href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'index'), 'default', true); ?>">
					<i class="fa fa-5x fa-phone-square"></i><br>
					Telephony Management
				</a>
			</div>
			<div class="span2 adminPanel" title="Logs">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'index'), 'default', true); ?>">
					<i class="fa fa-5x fa-commenting"></i><br>
					Logs
				</a>
			</div>
			<div class="span2 adminPanel" title="App Maintenance">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'maintenance', 'action' => 'index'), 'default', true); ?>">
					<i class="fa fa-5x fa-gear"></i><br>
					App Maintenance
				</a>
			</div>
		</div>
	</div>
</div>