<div class="row">
	<div class="span10">
		<div class="row">
			<div class="span2 adminPanel" title="Bulk Manage Center Privileges">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'centermanagement', 'action' => 'bulk-center-privileges'), 'default', true); ?>">
					<i class="fa fa-5x fa-cogs"></i><br>
					Bulk Manage Center Privileges
				</a>
			</div>
		</div>
	</div>
</div>