<?php if ($this->localConfig["userSourceType"] == "signup"): ?>
	<?php if ($this->showModal): ?>
		<div class="modal hide fade" id="signOnError" tabindex="-1" role="dialog"  aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Sign-On Error</h3>
			</div>
			<div class="modal-body">
				<p>The system encountered an error while trying to log you into WebEx via SSO. Details are below:</p>
				<p class="alert">
					Message: <em><?php echo $this->errorMessage; ?></em><br>
					Error code: <em><?php echo $this->errorCode; ?></em>
				</p>
				<?php if ($this->errorCode == 3): ?>
					<p>If you have not done so already, please close this popup and continue through this site's prompts to activate your UNCG WebEx account.</p>
				<?php endif; ?>
				<p>Please try logging into WebEx again at <a
						title="Login to <?php echo $this->localConfig['webexLoginUrl']; ?> now"
						href="<?php echo $this->localConfig['webexLoginUrl']; ?>"
						target="_blank"><?php echo $this->localConfig['webexLoginUrl']; ?></a>. If this problem persists, please contact 6TECH and provide the error code and message listed above.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">OK</button>
			</div>
		</div>
	<?php endif; ?>


    <div class="signup-container">
	<?php if(!empty($this->loggedInUser)): ?>
        <h2><?php echo $this->translate('default-index-index:loggedInHeader'); ?></h2>
        <?php if(!$this->ldapUser['bindStatus']): ?>
            <!-- LDAP bind failed -->
            <div class="alert alert-error">
                <b>LDAP ERROR</b>: <?php echo $this->translate('default-index-index:ldapBindFailed'); ?>
            </div>
            <p><?php echo $this->translate('default-index-index:howToContact6tech'); ?></p>
        <?php //elseif(!$this->ldapUser['bindStatus']): ?>
        <?php elseif(!$this->ldapUser['data']): ?>
            <!-- Couldn't look up eligibility. Original logic doesn't make sense - I think this is right. -->
            <div class="alert alert-error">
                <b>LDAP ERROR</b>: <?php echo $this->translate('default-index-index:eligibilityLookupFailed'); ?>
            </div>
            <p><?php echo $this->translate('default-index-index:howToContact6tech'); ?></p>
        <?php else: ?>
            <!-- User was found - now check eligibility -->
            <?php if($this->eligibilityStatus): ?>
                <!-- User is eligible. Display status messages from the API call. -->
                <?php if(!$this->successStatus): ?>
                    <!-- API call failed -->
                    <div class="alert alert-error">
                        <b>API ERROR</b>: <?php echo $this->message; ?>
                    </div>
                    <p><p><?php echo $this->translate('default-index-index:successStatusFalse'); ?></p></p>
                    <p><?php echo $this->translate('default-index-index:howToContact6tech'); ?></p>
                <?php else: ?>
                    <!-- API call was successful -->
                    <div class="alert alert-success">
                        <b>SUCCESS</b>: <?php echo $this->message; ?>
                    </div>
					<h3>Proceed to WebEx</h3>
					<div class="row-fluid">
						<div class="span6 panel panel-info">
							<div class="panel-heading">Access WebEx via Canvas</div>
							<div class="panel-body">
								<p>If you plan to set up a WebEx session for one of your courses, you should utilize the
									WebEx tool within your Canvas course.</p>
								<p class="text-center"><a href="https://uncg.instructure.com" title="Go to Canvas now" class="btn btn-primary">Go to Canvas now</a></p>
								<p>See the <a title="WebEx @ UNCG - Information"
										href="<?php echo $this->translate('default-index-index:itsWebexSite'); ?>">ITS
										website - WebEx @ UNCG</a> for more information on using WebEx from within Canvas.</p>
							</div>
						</div>
						<div class="span6 panel panel-info">
							<div class="panel-heading">Access WebEx directly</div>
							<div class="panel-body">
								<p>If you plan to use WebEx for meetings or non-academic sessions, you may proceed to
									the WebEx portal here:</p>
								<p class="text-center"><a href="<?php echo $this->localConfig['webexLoginUrl']; ?>" title="Go to <?php echo $this->localConfig['webexLoginUrl']; ?> now" class="btn btn-primary">Go to WebEx now</a></p>
								<p><em>Note: you may bookmark the following link for easy access later:</em></p>
								<p class="text-center"><a
										title="Login to <?php echo $this->localConfig['webexLoginUrl']; ?> now"
										href="<?php echo $this->localConfig['webexLoginUrl']; ?>"
										target="_blank"><?php echo $this->localConfig['webexLoginUrl']; ?></a></p>
							</div>
						</div>
					</div>
					<h3>How to use WebEx</h3>
                    <p>Documentation on using WebEx, as well as information on available training resources, can be found on the <a title="WebEx @ UNCG - Information" href="<?php echo $this->translate('default-index-index:itsWebexSite'); ?>">ITS website - WebEx @ UNCG</a>.</p>
                <?php endif; ?>

            <?php else: ?>
                <!-- User is ineligible for this WebEx environment. -->
                <div class="alert alert-error">
                    <b>Eligibility error</b>: this account is not eligible for this WebEx environment.
                </div>

                <p><?php echo $this->translate('default-index-index:eligibilityFalse'); ?> <b><?php echo $this->translate('default-index-index:eligibleUserBase'); ?></b>.</p>
                <p><?php echo $this->translate('default-index-index:checkItsWebsiteSentence'); ?> <a title="WebEx @ UNCG - Information" href="<?php echo $this->translate('default-index-index:itsWebexSite'); ?>"><?php echo $this->translate('default-index-index:itsWebexSite'); ?></a></p>
                <p>If you believe that you are receiving this message in error, please contact 6TECH at (336) 256-TECH (8324) or 6-TECH@uncg.edu. </p>

            <?php endif; ?>
        <?php endif; ?>
    <?php else: ?>
        <!-- User not logged in -->
         <h2><?php echo $this->translate('default-index-index:notLoggedInHeader'); ?></h2>
         <p>Welcome to the signup wizard for the WebEx @ UNCG for <b><?php echo $this->translate('default-index-index:eligibleUserBase'); ?></b>! To activate your WebEx account, please follow the steps below:</p>

		<h3>(STEP 1): Are you eligible for a WebEx account in this environment?</h3>
		<div class="row-fluid">
			<div class="span6 panel panel-success">
				<div class="panel-heading">
					<i class="fa fa-check-circle"></i>
					<?php echo $this->translate('default-index-index:eligibleUserBase'); ?>
				</div>
				<div class="panel-body">
					<p>Current <b><?php echo $this->translate('default-index-index:eligibleUserBase'); ?></b> are eligible for
						this WebEx environment. You may continue to the next step in the activation process.</p>
				</div>
			</div>
			<div class="span6 panel panel-danger">
				<div class="panel-heading">
					<i class="fa fa-times-circle"></i>
					<?php echo $this->translate('default-index-index:ineligibleUserBase'); ?>
				</div>
				<div class="panel-body">
					<p>Current <b><?php echo $this->translate('default-index-index:ineligibleUserBase'); ?></b> should check the <a title="WebEx @ UNCG - Information" href="<?php echo $this->translate('default-index-index:itsWebexSite'); ?>">ITS website - WebEx @ UNCG</a> for more information on how to access WebEx.</p>
				</div>
			</div>
		</div>
		<h3>(STEP 2): Do you currently have active an active WebEx account in this environment?</h3>
		<p>Account setup is a one-time process - after you complete it the first time you usually don't need to come back to this page again, except in special cases.</p>
		<div class="row-fluid">
			<div class="span4 panel panel-success">
				<div class="panel-heading">
					<i class="fa fa-check-circle"></i>
					I definitely need to activate (or reactivate) my WebEx account
				</div>
				<div class="panel-body">
					<p>Continue with the next step in the activation process.</p>
				</div>
			</div>
			<div class="span4 panel panel-danger">
				<div class="panel-heading">
					<i class="fa fa-times-circle"></i>
					I already have an active WebEx account
				</div>
				<div class="panel-body">
					<p>You should instead log in to WebEx at the following URL:</p>
					<p class="text-center">
						<a title="Login to <?php echo $this->localConfig['webexLoginUrl']; ?> now" href="<?php echo $this->localConfig['webexLoginUrl']; ?>"><?php echo $this->localConfig['webexLoginUrl']; ?></a>
					</p>
				</div>
			</div>
			<div class="span4 panel panel-warning">
				<div class="panel-heading">
					<i class="fa fa-question-circle"></i>
					I'm not sure
				</div>
				<div class="panel-body">
					<p>Try logging in at the following URL:</p>
					<p><a title="Login to <?php echo $this->localConfig['webexLoginUrl']; ?> now"
							href="<?php echo $this->localConfig['webexLoginUrl']; ?>"
							target="_blank"><?php echo $this->localConfig['webexLoginUrl']; ?></a></p>
					<p>If you are not successful then return to this application and continue with the next step in the activation process.</p>
				</div>
			</div>
		</div>
		<h3>(STEP 3): Sign in to the GetMyWebEx application</h3>
		<div class="row-fluid">
			<div class="span8 offset2 panel panel-info">
				<div class="panel-heading">Use your UNCG login credentials</div>
				<div class="panel-body">
					<p>Click the button below to continue with the activation process - use your UNCG username and
						password to log in.</p>
					<p class="text-center"><a href="login" class="btn btn-primary btn-large">Continue to WebEx Account Activation</a></p>
				</div>
			</div>
		</div>
		<h3>(STEP 4): Proceed to WebEx</h3>
		<div class="row-fluid">
			<div class="span8 offset2 panel panel-info">
				<div class="panel-heading">Via Canvas or directly?</div>
				<div class="panel-body">
					<p>After setting up your account, you will be given information on how to access WebEx for use in academic courses (through Canvas) and also directly (for meetings and non-course-related sessions).</p>
				</div>
			</div>
		</div>
    <?php endif; ?>
    </div>
	<?php $this->inlineScript()->appendScript("$('#signOnError').modal();"); ?>
	<?php echo $this->inlineScript(); ?>
<?php else: ?>
<!-- Not a signup instance -->
<h2>WebEx Support Tool</h2>
    <?php if(!empty($this->loggedInUser)): ?>
        <p>You are currently logged in as <b><?php echo $this->loggedInUser->username; ?></b>. If you have additional options available to you, they will appear in the menu bar above.</p>
    <?php else: ?>
        <p>You must log in to use this tool. Please <a href="login">click here to access the login page</a>.</p>
    <?php endif; ?>
<?php endif; ?>
