<h3>User Services</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="My Recordings">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'userservices', 'action' => 'my-recordings'), 'default', true); ?>">
					<i class="fa fa-5x fa-file-video-o"></i><br>
					My Recordings
				</a>
			</div>
		</div>
	</div>
</div>