<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'userservices', 'action' => 'index'), 'default', true); ?>">User Services</a> <span class="divider">/</span></li>
	<li class="active">My Recordings</li>
</ul>

<?php if (isset($this->loggedInUser)): ?>
	<h3>WebEx Recordings for <?php echo $this->loggedInUser->firstName . " " . $this->loggedInUser->lastName . " (" . $this->loggedInUser->username . ")"; ?></h3>
	<?php if (count($this->recordings) > 0): ?>
		<table class="table table-bordered table-striped table-condensed">
			<thead>
			<tr>
				<th>Created</th>
				<th>Expires in WebEx <a href="#" rel="popover" data-content="Date / time when this recording (ARF format) will no longer be available in WebEx Storage. Recordings are moved to trash automatically after <?php echo $this->recordingDeletionWindow . " " . pluralize($this->recordingDeletionWindow, "day", "s"); ?>." class="wst-popover"><i class="fa fa-question-circle"></i></a></th>
				<th>Name</th>
				<th>WebEx Status <a href="#" rel="popover" data-content="This recording's current status in WebEx Storage. This status does not affect the recording's availability in Cloud Storage." class="wst-popover"><i class="fa fa-question-circle"></i></a></th>
				<th>WebEx Link</th>
				<th>Cloud Storage Links <a href="#" rel="popover" data-content="As a convenience to hosts, ARF recordings are automatically uploaded to cloud storage, to be made accessible beyond the auto-removal threshold in WebEx Storage." class="wst-popover"><i class="fa fa-question-circle"></i></a></th>
				<!--<th>Actions</th>-->
			</tr>
			</thead>
			<tbody>
			<?php foreach($this->paginator as $index => $r): ?>
				<tr>
					<td><?php echo date("m/d/Y h:i:s A", $r["create_time_utc"]); ?></td>
					<td><?php echo date("m/d/Y h:i:s A", $r["expire_time_utc"]); ?></td>
					<td><?php echo $r["name"]; ?></td>
					<td><?php echo $r["status-user-readable"]; ?></td>
					<td>
						<?php if ($r["status"] == "active"): ?>
							<a href="<?php echo $r["file_url"]; ?>">Download</a>
						<?php else: ?>
							Unavailable
						<?php endif; ?>
					</td>
					<td>
						<?php if (!is_null($r["cloud_storage_info"])): ?>
							<?php foreach($r["cloud_storage_info"] as $service => $info): ?>
								<a href="<?php echo $info["link"]; ?>"><?php echo ucwords($service); ?></a>
							<?php endforeach; ?>
						<?php else: ?>
							Unavailable
						<?php endif; ?>
					</td>
					<!--<td><a href="#" class="btn btn-default">NOTHING</a></td>-->
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>

		<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>
	<?php else: ?>
		<p>Sorry, we found no recordings in the system for you.</p>
	<?php endif; ?>

	<hr>
	<h3>Folders Shared With You</h3>
	<?php if (count($this->shareFolders) > 0): ?>
		<p>The following folders are shared with you in cloud storage by UNCG WebEx Administrators, to store your recordings:</p>

		<table class="table table-bordered table-striped table-condensed">
			<thead>
			<tr>
				<th>Service</th>
				<th>Folder ID</th>
				<th>Link</th>
			</tr>
			</thead>
			<tbody>
			<?php foreach($this->shareFolders as $index => $s): ?>
				<tr>
					<td><?php echo ucwords($s["service_name"]); ?></td>
					<td><?php echo $s["folder_id"]; ?></td>
					<td>
						<?php if (empty($s["link"])): ?>
						Invalid link
						<?php else: ?>
						<a href="<?php echo $s["link"]; ?>" target="_blank"><?php echo $s["link"]; ?></a>
						<?php endif; ?>
					</td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>

	<?php else: ?>
		<p>No folders are shared with you at this time.</p>
	<?php endif; ?>

<?php else: ?>
	<p>Error: you are not logged in. Please log in above and return to this page to view records.</p>

<?php endif; ?>

<script>
	$(function() {
		$popovers = $('.wst-popover');
		$popovers.popover();
		$popovers.on('click', function(e) {
			e.preventDefault();
		})
	});
</script>