<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'maintenance', 'action' => 'index'), 'default', true); ?>">App Maintenance</a> <span class="divider">/</span></li>
	<li class="active">Disable App</li>
</ul>

<?php if (count($this->jobsToDisable) > 0): ?>
	<p class="text-error">
		<strong>WARNING</strong>: the following cronjobs will be disabled if you take this action:
	</p>

	<ul>
		<?php foreach($this->jobsToDisable as $c):  ?>
			<li><?php echo $c; ?></li>
		<?php endforeach; ?>
	</ul>

	<?php if (count($this->alreadyDisabledJobs) > 0): ?>
		<div class="alert"><p><em>The following core cronjobs are already disabled and will not be modified:</em></p>
			<ul>
				<?php foreach ($this->alreadyDisabledJobs as $c): ?>
					<li><?php echo $c; ?></li>
				<?php endforeach; ?>
			</ul>
		</div>
	<?php endif; ?>

	<form action="<?php echo $this->url(array('module' => 'default', 'controller' => 'maintenance', 'action' => 'disable-app'), 'default', true); ?>" method="post">
		<input type="hidden" name="confirm" value="confirm">
		<input type="submit" value="Understood, continue disabling" class="btn btn-danger">
	</form>
<?php else: ?>
	<p>All core cronjobs are already disabled.</p>
<?php endif; ?>