<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">App Maintenance</li>
</ul>

<div class="row">
	<div class="span10">
		<div class="row">
			<div class="span2 adminPanel" title="Disable Application">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'maintenance', 'action' => 'disable-app'), 'default', true); ?>">
					<i class="fa fa-5x fa-toggle-off"></i><br>
					Disable Application
				</a>
			</div>
			<div class="span2 adminPanel" title="Re-enable Application">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'maintenance', 'action' => 'reenable-app'), 'default', true); ?>">
					<i class="fa fa-5x fa-toggle-on"></i><br>
					Re-enable Application
				</a>
			</div>
			<div class="span2 adminPanel" title="Cron Job Panel">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'ot', 'action' => 'cron'), 'default', true); ?>">
					<i class="fa fa-5x fa-hourglass-2"></i><br>
					Cron Job Panel
				</a>
			</div>
		</div>
	</div>
</div>