<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'maintenance', 'action' => 'index'), 'default', true); ?>">App Maintenance</a> <span class="divider">/</span></li>
	<li class="active">Re-enable App</li>
</ul>

<?php if (count($this->jobsToEnable) > 0): ?>
	<p class="text-error">
		<strong>WARNING</strong>: the following cronjobs will be re-enabled if you take this action:
	</p>

	<ul>
		<?php foreach($this->jobsToEnable as $c):  ?>
			<li><?php echo $c; ?></li>
		<?php endforeach; ?>
	</ul>

	<?php if (count($this->alreadyEnabledJobs) > 0): ?>
		<div class="alert"><p><em>The following core cronjobs are already enabled and will not be modified:</em></p>
			<ul>
				<?php foreach ($this->alreadyEnabledJobs as $c): ?>
					<li><?php echo $c; ?></li>
				<?php endforeach; ?>
			</ul>
		</div>
	<?php endif; ?>

	<form action="<?php echo $this->url(array('module' => 'default', 'controller' => 'maintenance', 'action' => 'reenable-app'), 'default', true); ?>" method="post">
		<input type="hidden" name="confirm" value="confirm">
		<input type="submit" value="Understood, continue enabling" class="btn btn-danger">
	</form>
<?php else: ?>
<p>All core cronjobs are already enabled.</p>
<?php endif; ?>