<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'adminpanel', 'action' => 'index'), 'default', true); ?>">WST Admin Panel</a> <span class="divider">/</span></li>
	<li class="active">Configure WST Variables</li>
</ul>

<?php echo $this->form; ?>