<h3>Admin Navigation</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Configure WST Variables">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'adminpanel', 'action' => 'configure'), 'default', true); ?>">
					<i class="fa fa-5x fa-cog"></i><br>
					Configure WST Variables
				</a>
			</div>
		</div>
	</div>
</div>