<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'index'), 'default', true); ?>">Manage Telephony</a> <span class="divider">/</span></li>
	<li class="active">Edit Telephony for User</li>
</ul>

<h3>Editing telephony for user '<?php echo $this->webExId; ?>'</h3>

<?php echo $this->form; ?>