<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">Manage Telephony</li>
</ul>


<h3>Dashboard</h3>

<div class="row">
	<div class="span<?php echo $this->panelSpan; ?>">
		<div class="dashboard-panel panel">
			<div class="panel-heading">Number of users with Telephony</div>
			<?php echo count($this->usersWithTelephony); ?>
		</div>
	</div>

	<div class="span<?php echo $this->panelSpan; ?>">
		<div class="dashboard-panel panel">
			<div class="panel-heading">Current Telephony Billing Period</div>
			<?php echo $this->billingPeriodString; ?>
		</div>
	</div>
	<div class="span<?php echo $this->panelSpan; ?>">
		<div class="dashboard-panel panel<?php echo $this->budgetPanelClass; ?>">
			<div class="panel-heading">Telephony Budget Usage</div>
			<?php echo $this->budgetPanelIcon; ?>
			$<?php echo number_format($this->budgetUsed, 2); ?><br>
			<i>(<?php echo number_format($this->pctBudgetUsed, 2); ?>% of $<?php echo number_format($this->monthlyTelephonyBudget, 2); ?>)</i>
		</div>
	</div>

	<div class="span<?php echo $this->panelSpan; ?>">
		<div class="dashboard-panel panel">
			<div class="panel-heading">Sessions using Telephony this Billing Period</div>
			<?php echo $this->sessionsWithTelephonyThisBillingPeriod; ?><br>
		</div>
	</div>
</div>

<h3>Manage Telephony</h3>

<div class="row">
	<div class="span12">
		<div class="row">

			<div class="span2 adminPanel" title="Add Telephony for User">
				<a class="thumbnail text-center"
					href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'add-telephony'), 'default', true); ?>">
					<i class="fa fa-5x fa-phone-square"></i><br>
					Add Telephony for User
				</a>
			</div>

			<div class="span2 adminPanel" title="Manage Users with Telephony Privileges">
				<a class="thumbnail text-center"
					href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'manage-users'), 'default', true); ?>">
					<i class="fa fa-5x fa-users"></i><br>
					Manage Users with Telephony Privileges
				</a>
			</div>
		</div>
	</div>
</div>

<h3>Reporting</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Reporting Summary by Tracking Code">
				<a class="thumbnail text-center"
					href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'reporting-summary'), 'default', true); ?>">
					<i class="fa fa-5x fa-info-circle"></i><br>
					Reporting Summary by Tracking Code
				</a>
			</div>
			<div class="span2 adminPanel" title="Users by Tracking Code">
				<a class="thumbnail text-center"
					href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'users-by-tracking-code'), 'default', true); ?>">
					<i class="fa fa-5x fa-users"></i><br>
					Users by Tracking Code
				</a>
			</div>
		</div>
	</div>
</div>