<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'index'), 'default', true); ?>">Manage Telephony</a> <span class="divider">/</span></li>
	<li class="active">Manage Users with Telephony Privileges</li>
</ul>

<?php echo $this->form; ?>

<h4>Returned <?php echo $this->numberOfResults; ?> <?php echo pluralize($this->numberOfResults, "user", "s"); ?></h4>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
	<tr>
		<th data-sort="webExId" data-direction="<?php echo ($this->sort == 'webExId') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'webExId') ? $this->direction : ''; ?>">WebEx ID</th>
		<th data-sort="lastName" data-direction="<?php echo ($this->sort == 'lastName') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'lastName') ? $this->direction : ''; ?>">Last Name</th>
		<th data-sort="firstName" data-direction="<?php echo ($this->sort == 'firstName') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'firstName') ? $this->direction : ''; ?>">First Name</th>
		<th data-sort="telephony_privileges" data-direction="<?php echo ($this->sort == 'telephony_privileges') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'telephony_privileges') ? $this->direction : ''; ?>">Telephony Privileges</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $user): ?>
		<tr>
			<td><?php echo $user["webExId"]; ?></td>
			<td><?php echo $user["lastName"]; ?></td>
			<td><?php echo $user["firstName"]; ?></td>
			<td>
			<?php
				$telephonyDisplay = array();
				$privs = explode(",", $user["telephony_privileges"]);
				foreach($privs as $priv) {
					$telephonyDisplay[] = $this->telephonyKeys[$priv]["wstDisplayName"];
				}
				echo implode(", ", $telephonyDisplay);
			?>
			</td>
			<td>
				<a href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'edit-telephony', 'webExId' => $user["webExId"]), 'default', true); ?>" class="btn btn-default">Edit Telephony</a>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>
