<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'index'), 'default', true); ?>">Manage Telephony</a> <span class="divider">/</span></li>
	<li class="active">Reporting Summary</li>
</ul>

<?php echo $this->form; ?>

<h4>Showing sessions in date range: <?php echo $this->dateRange; ?></h4>

<?php foreach($this->sessions as $trackingId => $sessionData): ?>
	<h3><?php echo $sessionData["categoryName"]; ?></h3>
	<?php if (isset($sessionData["data"])): ?>
	<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
		<thead>
		<tr>
			<th>Tracking Code</th>
			<th>Sessions without Telephony</th>
			<th>Sessions with Telephony</th>
			<th>Telephony Minutes (combined)</th>
		</tr>
		</thead>
		<?php foreach($sessionData["data"] as $code => $sessionCount): ?>
		<tr>
			<td><?php echo $code; ?></td>
			<td>
				<?php echo isset($sessionCount["sessions"]) ? $sessionCount["sessions"] : 0; ?>
				<?php if (isset($sessionCount["sessions"]) && $sessionCount["sessions"] > 0): ?>
				 <a href="<?php echo $this->url(array("controller" => "telephony", "action" => "tracking-code-details", "codeId" => $trackingId, "code" => $code, "telephony" => "n", "startTimestamp" => $this->startTimestamp, "endTimestamp" => $this->endTimestamp), "default", true); ?>" class="btn btn-default">Session List</a>
				<?php endif; ?>
			</td>
			<td>
				<?php echo isset($sessionCount["sessionsWithTelephony"]) ? $sessionCount["sessionsWithTelephony"] : 0; ?>
				<?php if (isset($sessionCount["sessionsWithTelephony"]) && $sessionCount["sessionsWithTelephony"] > 0): ?>
					<a href="<?php echo $this->url(array("controller" => "telephony", "action" => "tracking-code-details", "codeId" => $trackingId, "code" => $code, "telephony" => "y", "startTimestamp" => $this->startTimestamp, "endTimestamp" => $this->endTimestamp), "default", true); ?>" class="btn btn-default">Session List</a>
				<?php endif; ?>
			</td>
			<td>
				<?php echo isset($sessionCount["telephonyMinutes"]) ? $sessionCount["telephonyMinutes"] : 0; ?> minutes
			</td>
		</tr>
		<?php endforeach; ?>
	</table>

		<!--<p><a href="--><?php //echo $this->url(array("controller" => "telephony", "action" => "tracking-code-details", "codeId" => $trackingId), "default", true); ?><!--" class="btn btn-primary">List all sessions with this code</a></p>-->

	<?php else: ?>
	<p>No sessions found with this Tracking Code found.</p>
	<?php endif; ?>

	<hr>

<?php endforeach; ?>

<?php //dump($this->sessions); ?>

<script language="javascript">
	// datepicker automatically will set itself to the current value in the field
	// dateFormat seems different, but this is because there are some differences
	// between formats in Zend_Data and JQuery.
	$("#start_time_start, #start_time_end").datepicker();
</script>
