<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'index'), 'default', true); ?>">Manage Telephony</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'reporting-summary'), 'default', true); ?>">Reporting Summary</a> <span class="divider">/</span></li>
	<li class="active">Tracking Code Details</li>
</ul>

<p>Showing sessions with:</p>
<ul>
	<li><?php echo $this->codeDetails["display_name"]; ?><?php if ($this->codeValue != "") { echo " = '" . $this->codeValue . "'"; } ?></li>
	<li>Telephony: <?php echo $this->telephony; ?></li>
<?php if ($this->startTime > 0): ?>
	<li>Start Date: <?php echo date("m/d/Y", $this->startTime); ?></li>
<?php endif; ?>
<?php if ($this->endTime != ""): ?>
	<li>End Date: <?php echo date("m/d/Y", $this->endTime); ?></li>
<?php endif; ?>
</ul>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Center</th>
		<th>Host</th>
		<th>Start Time</th>
		<th>Duration (mins)</th>
		<th>Call-In Users</th>
		<th>Call-Out Users</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<?php foreach($this->sessions as $index => $session): ?>
		<tr>
			<td><?php echo $session["conf_id"]; ?></td>
			<td><?php echo $session["session_name"]; ?></td>
			<td><?php echo $session["center"]; ?></td>
			<td><?php echo $session["host_username"]; ?></td>
			<td><?php echo date("m/d/Y H:i:s", $session["start_time_utc"]); ?></td>
			<td><?php echo $session["duration"]; ?></td>
			<td><?php echo $session["call_in_participants"]; ?> | <?php echo $session["call_in_minutes"] + $session["call_in_tollfree_minutes"]; ?> mins</td>
			<td><?php echo $session["call_out_participants"]; ?> | <?php echo $session["call_out_domestic_minutes"] + $session["call_out_international_minutes"]; ?> mins</td>
			<td>
				<a href="<?php echo $this->url(array("controller" => "reporting", "action" => "session-details", 'confID' => $session["conf_id"]), "default", true); ?>" class="btn btn-primary">Details</a>
			</td>
		</tr>
	<?php endforeach; ?>
</table>

<?php //dump($this->codeDetails); ?>