<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('controller' => 'telephony', 'action' => 'index'), 'default', true); ?>">Manage Telephony</a> <span class="divider">/</span></li>
	<li class="active">Users By Tracking Code</li>
</ul>

<?php if ($this->displayMode == "codes"): ?>
	<h3>Choose Tracking Code:</h3>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Code ID</th>
			<th>Name</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
	<?php foreach($this->codes as $id => $code): ?>
		<tr>
			<td><?php echo $id; ?></td>
			<td><?php echo $code["display_name"]; ?></td>
			<td><a href="<?php echo $this->url(array("controller" => "telephony", "action" => "users-by-tracking-code", "codeId" => $id), "default", true); ?>" class="btn btn-primary">Select</td>
		</tr>
	<?php endforeach; ?>
		</tbody>
	</table>

<?php elseif ($this->displayMode == "summary"): ?>
	<h3>Tracking Code Summary: <?php echo $this->code["display_name"]; ?></h3>

	<?php if(!empty($this->usersByTrackingCode)): ?>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Code Value</th>
				<th># of Users</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			<?php foreach($this->usersByTrackingCode as $code => $users): ?>
				<tr>
					<td><?php echo $code; ?></td>
					<td><?php echo count($this->usersByTrackingCode[$code]); ?></td>
					<td><a href="<?php echo $this->url(array("controller" => "telephony", "action" => "users-by-tracking-code", "codeId" => $this->code["tracking_code_id"], "codeValue" => $code), "default", true); ?>" class="btn btn-primary">View Users</a></td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
	<?php else: ?>
		<p>No code information found for this tracking code.</p>
	<?php endif; ?>

	<p><a href="<?php echo $this->url(array("controller" => "telephony", "action" => "users-by-tracking-code"), "default", true); ?>" class="btn btn-success">Choose another code</a></p>

	<?php //dump($this->usersByTrackingCode); ?>

<?php elseif ($this->displayMode == "users"): ?>
	<h3>Users with Tracking Code '<?php echo $this->code["display_name"]; ?>' = '<?php echo $this->codeValue; ?>'</h3>
	<?php if(!empty($this->usersWithCode)): ?>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Username</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			<?php foreach($this->usersWithCode as $index => $user): ?>
				<tr>
					<td><?php echo $user["webExId"]; ?></td>
					<td><?php echo $user["lastName"]; ?></td>
					<td><?php echo $user["firstName"]; ?></td>
					<td><a href="<?php echo $this->url(array("controller" => "usermanagement", "action" => "user-details", "euid" => $user["euid"]), "default", true); ?>" class="btn btn-default">User Details</a></td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
	<?php else: ?>
		<p>No user information found for this tracking code value.</p>
	<?php endif; ?>

	<p><a href="<?php echo $this->url(array("controller" => "telephony", "action" => "users-by-tracking-code", "codeId" => $this->code["tracking_code_id"]), "default", true); ?>" class="btn btn-success">Choose another code value</a></p>
	<?php //dump($this->usersWithCode); ?>
<?php else: ?>
	<p>Error: invalid display mode. Please go back and try again.</p>
<?php endif; ?>