<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li class="active">Communications List</li>
</ul>

<h3>Showing information for user filter '<?php echo $this->filter; ?>'</h3>

<p>
	<a href="?filter=active" class="btn btn-primary">Active Users</a> &nbsp;
	<a href="?filter=with-recordings" class="btn btn-primary">Users
		With Active Recordings</a> &nbsp;
	<a href="?filter=with-recordings-all-time" class="btn btn-primary">Users
		With Any Recordings</a>
</p>

<?php if (count($this->users) > 0): ?>
<p>
	<a href="?filter=<?php echo $this->filter; ?>&amp;csv=y" class="btn btn-success"><i class="fa fa-file-text-o"></i> &nbsp; Generate CSV</a>
</p>
<?php endif; ?>

<table class="table table-bordered table-striped table-sortable table-condensed">
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($this->users as $username => $userData): ?>
		<tr>
			<td><?php echo $userData["webExId"]; ?></td>
			<td><?php echo $userData["email"]; ?></td>
			<td><?php echo $userData["firstName"]; ?></td>
			<td><?php echo $userData["lastName"]; ?></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>
