<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">Reporting</li>
</ul>

<h3>Sessions</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Browse Session History">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'list-sessions'), 'default', true); ?>">
					<i class="fa fa-5x fa-sort-amount-asc"></i><br>
					Browse Session History
				</a>
			</div>
			<div class="span2 adminPanel" title="Browse Session History (API)">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'list-sessions-from-api'), 'default', true); ?>">
					<i class="fa fa-5x fa-sort-amount-asc"></i><br>
					Browse Session History (API)
				</a>
			</div>
			<div class="span2 adminPanel" title="View Sessions In Progress">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'sessions-in-progress'), 'default', true); ?>">
					<i class="fa fa-5x fa-commenting"></i><br>
					View Sessions In Progress
				</a>
			</div>
		</div>
	</div>
</div>

<h3>Recordings</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Browse Recordings">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'list-recordings'), 'default', true); ?>">
					<i class="fa fa-5x fa-film"></i><br>
					Browse Recordings
				</a>
			</div>
		</div>
	</div>
</div>

<h3>Metrics</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Browse Metrics">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'list-metrics'), 'default', true); ?>">
					<i class="fa fa-5x fa-line-chart"></i><br>
					Browse Metrics
				</a>
			</div>
		</div>
	</div>
</div>

<h3>Communications</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Communications List">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'get-communications-list'), 'default', true); ?>">
					<i class="fa fa-5x fa-envelope"></i><br>
					Communications List
				</a>
			</div>
		</div>
	</div>
</div>