<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li class="active">List Recordings</li>
</ul>

<?php echo $this->form; ?>

<?php $helper = new Wst_Model_Helpers_General(); ?>

<h4>Returned <?php echo $this->numberOfResults; ?> <?php echo pluralize($this->numberOfResults, "recording", "s"); ?></h4>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
	<tr>
		<th data-sort="recording_id" data-direction="<?php echo ($this->sort == 'recording_id') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'recording_id') ? $this->direction : ''; ?>">Recording ID</th>
		<th data-sort="host_webex_id" data-direction="<?php echo ($this->sort == 'host_webex_id') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'host_webex_id') ? $this->direction : ''; ?>">Host ID</th>
		<th data-sort="name" data-direction="<?php echo ($this->sort == 'name') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'name') ? $this->direction : ''; ?>">Name</th>
		<th data-sort="center" data-direction="<?php echo ($this->sort == 'center') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'center') ? $this->direction : ''; ?>">Center</th>
		<th data-sort="create_time_utc" data-direction="<?php echo ($this->sort == 'create_time_utc') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'create_time_utc') ? $this->direction : ''; ?>">Create Time (local)</th>
		<th data-sort="size_mb" data-direction="<?php echo ($this->sort == 'size_mb') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'size_mb') ? $this->direction : ''; ?>">Size (MB)</th>
		<th data-sort="duration_sec" data-direction="<?php echo ($this->sort == 'duration_sec') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'duration_sec') ? $this->direction : ''; ?>">Duration</th>
		<th data-sort="status" data-direction="<?php echo ($this->sort == 'status') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'status') ? $this->direction : ''; ?>">Status</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $recording): ?>
		<tr>
			<td><?php echo $recording["recording_id"]; ?></td>
			<td><?php echo $recording["host_webex_id"]; ?></td>
			<td><?php echo $recording["name"]; ?></td>
			<td><?php
				$words = explode(" ", $recording["center"]);
				$abbrev = substr($words[0], 0, 1) . substr($words[1], 0, 1);
				echo $abbrev;
				?></td>
			<td><?php echo date("m/d/Y H:i:s", $recording["create_time_utc"]); ?></td>
			<td><?php echo round($recording["size_mb"], 3); ?></td>
			<td><?php echo $helper->secondsToTime($recording["duration_sec"]); ?></td>
			<td><?php echo $recording["status"]; ?></td>
			<td><a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'recording-details', 'recId' => $recording["recording_id"]), 'default', true); ?>" class="btn btn-default">Details</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php //dump($this->paginator); ?>