<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li class="active">List Sessions (from API)</li>
</ul>

<h4>Returned <?php echo $this->numberOfResults; ?> <?php echo pluralize($this->numberOfResults, "meeting", "s"); ?></h4>

<p><i>Pulled sessions from <?php echo $this->centersPulledString; ?></i></p>

<table class="table table-bordered table-striped table-sortable table-condensed">
	<thead>
	<tr>
		<th>Center</th>
		<th>Session Title</th>
		<th>Host ID</th>
		<th>Start Time (local)</th>
		<th>End Time (local)</th>
		<th>Duration (min)</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $session): ?>
		<tr>
			<td><?php echo $session["center"]; ?></td>
			<td><?php echo $session["history:confName"]; ?></td>
			<td><?php echo $session["history:hostWebExID"]; ?></td>
			<td><?php echo $session["startTimeLocal"]; ?></td>
			<td><?php echo $session["endTimeLocal"]; ?></td>
			<td><?php echo $session["history:duration"]; ?></td>
			<td><a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'session-details-from-api', 'confID' => $session["history:confID"], 'center' => $session["centerAbbrev"]), 'default', true); ?>" class="btn btn-default">Details</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<h3>Filter by Center</h3>

<?php echo $this->form; ?>

<?php //dump($this->paginator); ?>
