<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li class="active">List Sessions</li>
</ul>

<?php echo $this->form; ?>

<h4>Returned <?php echo $this->numberOfResults; ?> <?php echo pluralize($this->numberOfResults, "session", "s"); ?></h4>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
	<tr>
		<th data-sort="center" data-direction="<?php echo ($this->sort == 'center') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'center') ? $this->direction : ''; ?>">Center</th>
		<th data-sort="session_name" data-direction="<?php echo ($this->sort == 'session_name') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'session_name') ? $this->direction : ''; ?>">Session Title</th>
		<th data-sort="host_username" data-direction="<?php echo ($this->sort == 'host_username') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'host_username') ? $this->direction : ''; ?>">Host ID</th>
		<th data-sort="start_time_utc" data-direction="<?php echo ($this->sort == 'start_time_utc') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'start_time_utc') ? $this->direction : ''; ?>">Start Time (local)</th>
		<th data-sort="end_time_utc" data-direction="<?php echo ($this->sort == 'end_time_utc') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'end_time_utc') ? $this->direction : ''; ?>">End Time (local)</th>
		<th data-sort="duration" data-direction="<?php echo ($this->sort == 'duration') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'duration') ? $this->direction : ''; ?>">Duration (min)</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $session): ?>
		<tr>
			<td><?php echo $session["center"]; ?></td>
			<td><?php echo $session["session_name"]; ?></td>
			<td><?php echo $session["host_username"]; ?></td>
			<td><?php echo date("m/d/Y H:i:s", $session["start_time_utc"]); ?></td>
			<td><?php echo date("m/d/Y H:i:s", $session["end_time_utc"]); ?></td>
			<td><?php echo $session["duration"]; ?></td>
			<td><a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'session-details', 'confID' => $session["conf_id"]), 'default', true); ?>" class="btn btn-default">Details</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php //dump($this->paginator); ?>
