<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li class="active">List Metrics</li>
</ul>

<?php echo $this->form; ?>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
	<tr>
		<th data-sort="metric_id" data-direction="<?php echo ($this->sort == 'metric_id') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'metric_id') ? $this->direction : ''; ?>">Metric ID</th>
		<th data-sort="date" data-direction="<?php echo ($this->sort == 'date') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'date') ? $this->direction : ''; ?>">Date</th>
		<th data-sort="status" data-direction="<?php echo ($this->sort == 'status') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'status') ? $this->direction : ''; ?>">Status</th>
		<th data-sort="timestamp" data-direction="<?php echo ($this->sort == 'timestamp') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'timestamp') ? $this->direction : ''; ?>">Timestamp</th>
		<th data-sort="error_data" data-direction="<?php echo ($this->sort == 'error_data') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'error_data') ? $this->direction : ''; ?>">Error Data</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $metric): ?>
		<tr>
			<td><?php echo $metric["metric_id"]; ?></td>
			<td><?php echo $metric["date"]; ?></td>
			<td><?php echo $metric["status"]; ?></td>
			<td><?php echo $metric["timestamp"]; ?></td>
			<td><?php echo $metric["error_data"]; ?></td>
			<td><a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'metric-details', 'id' => $metric["metric_id"]), 'default', true); ?>" class="btn btn-default">Details</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php //dump($this->paginator); ?>
