<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'list-metrics'), 'default', true); ?>">List Metrics</a> <span class="divider">/</span></li>
	<li class="active">Metric Details (<?php echo $this->metricDetails['metric_id']; ?>)</li>
</ul>




<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th>Metric ID (unique)</th>
		<td><?php echo $this->metricDetails['metric_id']; ?></td>
	</tr>
	<tr>
		<th>Date</th>
		<td><?php echo $this->metricDetails['date']; ?></td>
	</tr>
	<tr>
		<th>Status</th>
		<td>
			<?php echo $this->metricDetails['status_icon'] . " " . $this->metricDetails['status']; ?>
			<?php if ($this->metricDetails['status'] == "error"): ?>
				<a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'retry-metric-send', 'id' => $this->metricDetails["metric_id"]), 'default', true); ?>"
					class="btn btn-danger">Retry Sending</a>
			<?php endif; ?>
		</td>
	</tr>
	<?php if (!is_null($this->metricDetails['error_data'])): ?>
		<tr>
			<th>Error Details</th>
			<td><?php echo $this->metricDetails['error_data']; ?></td>
		</tr>
	<?php endif; ?>
	<tr>
		<th>Date Recorded</th>
		<td><?php echo date("m/d/Y H:i:s", $this->metricDetails['timestamp']); ?></td>
	</tr>

	<?php foreach($this->metricDataDecoded as $k => $m): ?>
	<tr>
		<th><?php echo Wst_Model_Helpers_General::parseCamelCaseToHumanReadable(ucwords($k)); ?></th>
		<td><?php echo $m; ?></td>
	</tr>
	<?php endforeach; ?>
</table>


<h3>Manage metrics</h3>

<p>Coming eventually, maybe.</p>

<?php //dump($this->metricDetails); ?>