<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'list-recordings'), 'default', true); ?>">List Recordings</a> <span class="divider">/</span></li>
	<li class="active">Recording Details from API (<?php echo $this->recordingDetails['ep:recordingID']; ?>)</li>
</ul>




<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th>Recording ID (unique)</th>
		<td><?php echo $this->recordingDetails['ep:recordingID']; ?></td>
	</tr>
	<tr>
		<th>Recording Name</th>
		<td><?php echo $this->recordingDetails['ep:name']; ?></td>
	</tr>
	<tr>
		<th>Host WebEx ID</th>
		<td><?php echo $this->recordingDetails['ep:hostWebExID']; ?></td>
	</tr>
	<tr>
		<th>Conference ID (unique)</th>
		<td>
			<?php echo $this->recordingDetails['ep:confID']; ?>
			<a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'session-details', 'confID' => $this->recordingDetails["ep:confID"]), 'default', true); ?>"
				class="btn btn-primary">Session Details</a>
		</td>
	</tr>
	<tr>
		<th>Create Time (local)</th>
		<td><?php echo date("m/d/Y H:i:s", strtotime($this->recordingDetails['ep:createTime'])); ?></td>
	</tr>
	<tr>
		<th>Format</th>
		<td><?php echo $this->recordingDetails['ep:format']; ?></td>
	</tr>
	<tr>
		<th>Size (MB)</th>
		<td><?php echo $this->recordingDetails['ep:size']; ?></td>
	</tr>
	<tr>
		<th>Duration (HH:MM:SS)</th>
		<td><?php echo $this->recordingDetails['duration_string']; ?></td>
	</tr>
	<tr>
		<th>Stream URL</th>
		<td><a href="<?php echo $this->recordingDetails['ep:streamURL']; ?>"><?php echo $this->recordingDetails['ep:streamURL']; ?></a></td>
	</tr>
	<tr>
		<th>File URL</th>
		<td><a href="<?php echo $this->recordingDetails['ep:fileURL']; ?>"><?php echo $this->recordingDetails['ep:fileURL']; ?></a></td>
	</tr>
</table>

<h3>Manage recording</h3>

<p>Coming soon. For now, manage in WebEx admin panel.</p>

<?php //dump($this->sessionDetails); ?>