<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'list-sessions-from-api'), 'default', true); ?>">List Sessions (from API)</a> <span class="divider">/</span></li>
	<li class="active">Session Details (<?php echo $this->sessionDetails['history:confID']; ?>) (from API)</li>
</ul>

<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th>Conference ID (unique)</th>
		<td><?php echo $this->sessionDetails['history:confID']; ?></td>
	</tr>
	<tr>
		<th>Session Key</th>
		<td><?php echo $this->sessionDetails['history:sessionKey']; ?></td>
	</tr>
	<tr>
		<th>Center</th>
		<td><?php echo $this->centerName; ?></td>
	</tr>
	<tr>
		<th>Host</th>
		<td>
			<?php if (isset($this->sessionDetails['history:hostName'])): ?>
				<?php echo $this->sessionDetails['history:hostName'] . " (" . $this->sessionDetails['history:hostWebExID'] . ")"; ?>
			<?php else: ?>
				<?php echo $this->sessionDetails['history:hostWebExID']; ?>
			<?php endif; ?>
		</td>
	</tr>
	<tr>
		<th>Start Time (local)</th>
		<td><?php echo $this->sessionDetails['startTimeLocal']; ?></td>
	</tr>
	<tr>
		<th>End Time (local)</th>
		<td><?php echo $this->sessionDetails['endTimeLocal']; ?></td>
	</tr>
	<tr>
		<th>Duration (min)</th>
		<td><?php echo $this->sessionDetails['history:duration']; ?></td>
	</tr>
	<tr>
		<th># of participants</th>
		<td>
			<?php if ($this->centerAbbrev != "sc"): ?>
				<?php echo $this->sessionDetails['history:totalParticipants'] . " (" . $this->sessionDetails["history:peakAttendee"] . " peak)"; ?>
			<?php else: ?>
				<?php echo $this->sessionDetails["history:peakAttendee"]; ?>
			<?php endif; ?>
			<a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'session-attendee-details-from-api', 'confID' => $this->sessionDetails["history:confID"], 'center' => $this->centerAbbrev), 'default', true); ?>"
				class="btn btn-primary">Details</a>
		</td>
	</tr>
	<?php if ($this->centerAbbrev != "sc"): ?>
	<tr>
		<th>Call-in minutes</th>
		<td><?php echo $this->sessionDetails['history:totalCallInMinutes']; ?></td>
	</tr>
	<tr>
		<th>VoIP minutes</th>
		<td><?php echo $this->sessionDetails['history:totalVoipMinutes']; ?></td>
	</tr>
	<?php endif; ?>
</table>

<?php //dump($this->sessionDetails); ?>