<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'list-sessions'), 'default', true); ?>">List Sessions (from API)</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'session-details-from-api', 'confID' => $this->confID, 'center' => $this->centerAbbrev), 'default', true); ?>">Session Details (<?php echo $this->confID; ?>) (from API)</a> <span class="divider">/</span></li>
	<li class="active">Session Attendee Details (from API)</li>
</ul>

<?php if ($this->sessionName != ""): ?>

	<h4>Session Attendance for <i><?php echo $this->sessionName; ?></i></h4>
	<table class="table table-condensed table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Join Time (local)</th>
			<th>Leave Time (local)</th>
			<th>Length</th>
			<th>Role</th>
			<th>IP Address</th>
			<th>OS / Device</th>
			<th>Browser / Agent</th>
		</tr>
		<?php foreach ($this->attendeeDetails as $k => $d): ?>
			<tr>
				<td><?php echo $d["history:attendeeName"]; ?></td>
				<td><?php echo $d["history:attendeeEmail"]; ?></td>
				<td><?php echo $d["startTimeLocal"]; ?></td>
				<td><?php echo $d["endTimeLocal"]; ?></td>
				<td><?php echo $d["history:duration"]; ?></td>
				<td><?php echo ucwords(strtolower($d["history:participantType"])); ?></td>
				<td><?php echo $d["history:ipAddress"]; ?></td>
				<td>
					<nobr><?php echo $d["osIcon"] . $d["operatingSystem"]; ?></nobr>
				</td>
				<td>
					<nobr><?php echo $d["browserIcon"] . $d["browser"]; ?></nobr>
				</td>
			</tr>
		<?php endforeach; ?>
</table>

<?php endif; ?>

<?php //dump($this->attendeeDetails); ?>