<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'list-sessions'), 'default', true); ?>">List Sessions</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'session-details', 'confID' => $this->confID), 'default', true); ?>">Session Details (<?php echo $this->confID; ?>)</a> <span class="divider">/</span></li>
	<li class="active">Session Attendee Details</li>
</ul>

<?php if ($this->sessionName != ""): ?>

	<h4>Session Attendance for <i><?php echo $this->sessionName; ?></i></h4>
	<table class="table table-condensed table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Join Time (local)</th>
			<th>Leave Time (local)</th>
			<th>Length</th>
			<th>Role</th>
			<th>IP Address</th>
			<th>OS / Device</th>
			<th>Browser / Agent</th>
		</tr>
		<?php foreach ($this->attendeeDetails as $k => $d): ?>
			<tr>
				<td><?php echo $d["name"]; ?></td>
				<td><?php echo $d["email"]; ?></td>
				<td><?php echo date("m/d/Y H:i:s", $d["join_time_utc"]); ?></td>
				<td><?php echo date("m/d/Y H:i:s", $d["leave_time_utc"]); ?></td>
				<td><?php echo $d["duration"]; ?></td>
				<td><?php echo ucwords(strtolower($d["participant_type"])); ?></td>
				<td><?php echo $d["ip_address"]; ?></td>
				<td>
					<nobr><?php echo $d["os_icon"] . $d["operating_system"]; ?></nobr>
				</td>
				<td>
					<nobr><?php echo $d["browser_icon"] . $d["browser"]; ?></nobr>
				</td>
			</tr>
		<?php endforeach; ?>
</table>

<?php endif; ?>

<?php //dump($this->attendeeDetails); ?>