<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'list-sessions'), 'default', true); ?>">List Sessions</a> <span class="divider">/</span></li>
	<li class="active">Session Details (<?php echo $this->sessionDetails['conf_id']; ?>)</li>
</ul>

<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th>Conference ID (unique)</th>
		<td><?php echo $this->sessionDetails['conf_id']; ?></td>
	</tr>
	<tr>
		<th>Session Key</th>
		<td><?php echo $this->sessionDetails['session_key']; ?></td>
	</tr>
	<tr>
		<th>Center</th>
		<td><?php echo $this->sessionDetails['center']; ?></td>
	</tr>
	<tr>
		<th>Host</th>
		<td>
			<?php if (!is_null($this->sessionDetails['host_name'])): ?>
				<?php echo $this->sessionDetails['host_name'] . " (" . $this->sessionDetails['host_username'] . ")"; ?>
			<?php else: ?>
				<?php echo $this->sessionDetails['host_username']; ?>
			<?php endif; ?>
		</td>
	</tr>
	<tr>
		<th>Start Time (local)</th>
		<td><?php echo date("m/d/Y H:i:s", $this->sessionDetails['start_time_utc']); ?></td>
	</tr>
	<tr>
		<th>End Time (local)</th>
		<td><?php echo date("m/d/Y H:i:s", $this->sessionDetails['end_time_utc']); ?></td>
	</tr>
	<tr>
		<th>Duration (min)</th>
		<td><?php echo $this->sessionDetails['duration']; ?></td>
	</tr>
	<tr>
		<th># of participants</th>
		<td>
			<?php if ($this->sessionDetails != "Support Center"): ?>
				<?php echo $this->sessionDetails['total_attendees'] . " (" . $this->sessionDetails["peak_attendee_count"] . " peak)"; ?>
			<?php else: ?>
				<?php echo $this->sessionDetails["peak_attendee_count"]; ?>
			<?php endif; ?>
			<a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'session-attendee-details', 'confID' => $this->sessionDetails["conf_id"]), 'default', true); ?>"
				class="btn btn-primary">Details</a>
		</td>
	</tr>
	<?php if ($this->sessionDetails != "Support Center"): ?>
	<tr>
		<th>Call-in minutes</th>
		<td><?php echo $this->sessionDetails['call_in_minutes']; ?></td>
	</tr>
	<tr>
		<th>Call-in tollfree minutes</th>
		<td><?php echo $this->sessionDetails['call_in_tollfree_minutes']; ?></td>
	</tr>
	<tr>
		<th>Call-out minutes (domestic)</th>
		<td><?php echo $this->sessionDetails['call_out_domestic_minutes']; ?></td>
	</tr>
	<tr>
		<th>Call-out minutes (int'l)</th>
		<td><?php echo $this->sessionDetails['call_out_international_minutes']; ?></td>
	</tr>
	<tr>
		<th>VoIP minutes</th>
		<td><?php echo $this->sessionDetails['voip_minutes']; ?></td>
	</tr>
	<?php endif; ?>
</table>

<h3>Recordings from this session</h3>

<?php if (count($this->recordingsFromSession) == 0): ?>
	<p>No recordings found.</p>
<?php else: ?>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
		<tr>
			<th>Recording ID</th>
			<th>Name</th>
			<th>Create Time (local)</th>
			<th>Size (MB)</th>
			<th>Duration</th>
			<th>Status</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($this->recordingsFromSession as $key => $rec): ?>
			<tr>
				<td><?php echo $rec["recording_id"]; ?></td>
				<td><?php echo $rec["name"]; ?></td>
				<td><?php echo date("m/d/Y H:i:s", $rec["create_time_utc"]); ?></td>
				<td><?php echo $rec["size_mb"]; ?></td>
				<td><?php echo $rec["duration_sec"]; ?></td>
				<td><?php echo $rec["status"]; ?></td>
				<td>
					<a href="<?php echo $this->url(array('controller' => 'reporting', 'action' => 'recording-details', 'recId' => $rec["recording_id"]), 'default', true); ?>" class="btn btn-default">Details</a>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>


<?php endif; ?>

<?php //dump($this->recordingsFromSession); ?>