<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'reporting', 'action' => 'index'), 'default', true); ?>">Reporting</a> <span class="divider">/</span></li>
	<li class="active">Sessions In Progress</li>
</ul>

<h4>Returned <?php echo $this->numberOfResults; ?> <?php echo pluralize($this->numberOfResults, "session", "s"); ?> in progress</h4>

<?php if ($this->numberOfResults > 0): ?>
<table class="table table-bordered table-striped table-sortable table-condensed">
	<thead>
	<tr>
		<th>Meeting Name</th>
		<th>Host ID</th>
		<th>Start Time (local)</th>
		<th>Center</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $meeting): ?>
		<tr>
			<td><?php echo $meeting["ep:sessionName"]; ?></td>
			<td><?php echo $meeting["ep:hostWebExID"]; ?></td>
			<td><?php echo $meeting["ep:startTime"]; ?></td>
			<td>
				<?php echo str_replace("Center", " Center", $meeting["ep:serviceType"]); ?>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php endif; ?>
