<h2>Proxy test results</h2>
<p>Trying endpoint <?php echo $this->urlTested; ?></p>

<?php if (empty($this->proxyUsed)): ?>
	<p>No proxy being used.</p>
<?php else: ?>
	<p>Using proxy <?php echo $this->proxyUsed; ?></p>
<?php endif; ?>

<?php if ($this->result): ?>
	<p>Successful.</p>
<?php else: ?>
	<p>Unsuccessful.</p>
<?php endif; ?>

<h3>Raw result:</h3>
<p><?php dump($this->rawResult); ?></p>