<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'logs', 'action' => 'index'), 'default', true); ?>">Logs</a> <span class="divider">/</span></li>
	<li class="active">Browse All Log Entries</li>
</ul>

<?php echo $this->form; ?>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
	<tr>
		<th data-sort="logId" data-direction="<?php echo ($this->sort == 'logId') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'logId') ? $this->direction : ''; ?>">Log ID</th>
		<th data-sort="username" data-direction="<?php echo ($this->sort == 'username') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'username') ? $this->direction : ''; ?>">Username</th>
		<th data-sort="timestamp" data-direction="<?php echo ($this->sort == 'timestamp') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'timestamp') ? $this->direction : ''; ?>">Timestamp</th>
		<th data-sort="subject" data-direction="<?php echo ($this->sort == 'subject') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'subject') ? $this->direction : ''; ?>">Subject</th>
		<th data-sort="message" data-direction="<?php echo ($this->sort == 'message') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'message') ? $this->direction : ''; ?>">Message</th>
		<th data-sort="priority" data-direction="<?php echo ($this->sort == 'priority') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'priority') ? $this->direction : ''; ?>">Priority</th>
		<th data-sort="attributeId" data-direction="<?php echo ($this->sort == 'attributeId') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'attributeId') ? $this->direction : ''; ?>">Attribute ID</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $error): ?>
		<tr>
			<td><?php echo $error["logId"]; ?></td>
			<td><?php echo $error["username"]; ?></td>
			<td><?php echo $error["timestamp"]; ?> <br> <?php echo date("m/d/Y H:i:s", $error["timestamp"]); ?></td>
			<td><?php echo $error["subject"]; ?></td>
			<td><?php echo $error["message"]; ?></td>
			<td><?php echo $error["priority"] . " - " . $error["priorityName"]; ?></td>
			<td><?php echo $error["attributeId"]; ?></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php //dump($this->paginator); ?>
