<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'logs', 'action' => 'index'), 'default', true); ?>">Logs</a> <span class="divider">/</span></li>
	<li class="active">Browse All API Queue Entries</li>
</ul>

<form id="failedEntries" action="<?php echo $this->url(array("controller" => "logs", "action" => "modify-multiple-queue-entries"), "default", true); ?>" method="post">
	<table class="table table-bordered table-striped table-sortable table-condensed">
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Entry ID</th>
			<th>EUID</th>
			<th>WebEx ID</th>
			<th>Status</th>
			<th>Action</th>
			<th>Message</th>
			<th>Failures</th>
			<th>Timestamp Attempted</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach ($this->paginator as $entry): ?>
			<tr>
				<td><input type="checkbox" name="id[]" value="<?php echo $entry["q_id"]; ?>"></td>
				<td><?php echo $entry["q_id"]; ?></td>
				<td><?php echo $entry["euid"]; ?></td>
				<td><?php echo $entry["webExId"]; ?></td>
				<td><?php echo $entry["status"]; ?></td>
				<td><?php echo $entry["action"]; ?></td>
				<td><?php echo $entry["message"]; ?></td>
				<td><?php echo empty($entry["attempt"]) ? 0 : $entry["attempt"]; ?></td>
				<td>
					<?php if (!empty($entry['timestampAttempted'])): ?>
						<?php echo $entry['timestampAttempted'];?>
						<br>
						<?php echo date("(m/d/Y H:i:s)", $entry['timestampAttempted']); ?>
					<?php endif; ?>
				</td>
				<td>
					<a href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-queue-entry-details', 'id' => $entry["q_id"]), 'default', true); ?>"
						class="btn btn-default">Entry Details</a>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>

	<div class="controls">
		<input class="btn btn-success" type="submit" value="Requeue" name="entryAction">
		<input class="btn btn-warning" type="submit" value="Ignore" name="entryAction">
	</div>

</form>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php //dump($this->paginator); ?>

<script>
	function showControls() {
        var checked = [];
        $("#failedEntries :checked").map(function (i, cb) {
            checked.push(cb.value);
        });

        if (checked.length > 0) {
            $(".controls").show();
        } else {
            $(".controls").hide();
        }
	}

	$(function() {
        showControls();
        $("#failedEntries input[type='checkbox']").on('click', function () {
            showControls();
        });
	});
</script>
