<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'logs', 'action' => 'index'), 'default', true); ?>">Logs</a> <span class="divider">/</span></li>
	<li class="active">Browse All API Queue Entries</li>
</ul>

<?php echo $this->form; ?>

<table class="table table-bordered table-striped table-sortable table-condensed ui-sortable">
	<thead>
	<tr>
		<th data-sort="q_id" data-direction="<?php echo ($this->sort == 'q_id') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'q_id') ? $this->direction : ''; ?>">Entry ID</th>
		<th data-sort="euid" data-direction="<?php echo ($this->sort == 'euid') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'euid') ? $this->direction : ''; ?>">EUID</th>
		<th data-sort="webExId" data-direction="<?php echo ($this->sort == 'webExId') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'webExId') ? $this->direction : ''; ?>">WebEx ID</th>
		<th data-sort="status" data-direction="<?php echo ($this->sort == 'status') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'status') ? $this->direction : ''; ?>">Status</th>
		<th data-sort="action" data-direction="<?php echo ($this->sort == 'action') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'action') ? $this->direction : ''; ?>">Action</th>
		<th data-sort="message" data-direction="<?php echo ($this->sort == 'message') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'message') ? $this->direction : ''; ?>">Message</th>
		<th data-sort="timestamp" data-direction="<?php echo ($this->sort == 'timestamp') ? (($this->direction == 'asc') ? 'desc' : 'asc') : ''; ?>" class="<?php echo ($this->sort == 'timestamp') ? $this->direction : ''; ?>">Timestamp Attempted</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $entry): ?>
		<tr>
			<td><?php echo $entry["q_id"]; ?></td>
			<td><?php echo $entry["euid"]; ?></td>
			<td><?php echo $entry["webExId"]; ?></td>
			<td><?php echo $entry["status"]; ?></td>
			<td><?php echo $entry["action"]; ?></td>
			<td><?php echo $entry["message"]; ?></td>
			<td>
				<?php if (!empty($entry['timestampAttempted'])): ?>
					<?php echo $entry['timestampAttempted'];?>
					<br>
					<?php echo date("(m/d/Y H:i:s)", $entry['timestampAttempted']); ?>
				<?php endif; ?>
			</td>
			<td>
				<a href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-queue-entry-details', 'id' => $entry["q_id"]), 'default', true); ?>"
					class="btn btn-default">Entry Details</a>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php //dump($this->paginator); ?>
