<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'logs', 'action' => 'index'), 'default', true); ?>">Logs</a> <span class="divider">/</span></li>
	<?php if (strpos($this->referer, "api-queue-failed-entries")): ?>
		<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'logs', 'action' => 'api-queue-all-entries'), 'default', true); ?>">Browse Failed API Queue Entries</a> <span class="divider">/</span></li>
	<?php elseif (strpos($this->referer, "api-queue-all-entries")): ?>
		<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'logs', 'action' => 'api-queue-all-entries'), 'default', true); ?>">Browse All API Queue Entries</a> <span class="divider">/</span></li>
	<?php endif; ?>
	<li class="active">Queue Entry Details</li>
</ul>

<table class="table table-condensed table-striped table-bordered">
	<tr>
		<th>Queue Entry ID</th>
		<td><?php echo $this->entryDetails['q_id']; ?></td>
	</tr>
	<tr>
		<th>User EUID</th>
		<td><?php echo $this->entryDetails['euid']; ?></td>
	</tr>
	<tr>
		<th>WebEx ID</th>
		<td><?php echo $this->entryDetails['webExId']; ?></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><?php echo $this->entryDetails['email']; ?></td>
	</tr>
	<tr>
		<th>First Name</th>
		<td><?php echo $this->entryDetails['firstName']; ?></td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td><?php echo $this->entryDetails['lastName']; ?></td>
	</tr>
	<tr>
		<th>New WebEx ID</th>
		<td><?php echo $this->entryDetails['newWebExId']; ?></td>
	</tr>
	<tr>
		<th>Status</th>
		<td>
			<?php echo $this->entryDetails['status_icon']; ?>
			<?php echo $this->entryDetails['status']; ?>
		</td>
	</tr>
	<tr>
		<th>Action</th>
		<td><?php echo $this->entryDetails['action']; ?></td>
	</tr>
	<tr>
		<th>Message</th>
		<td><?php echo $this->entryDetails['message']; ?></td>
	</tr>
	<tr>
		<th>Number of Failed Attempts</th>
		<td><?php echo empty($this->entryDetails["attempt"]) ? 0 : $this->entryDetails["attempt"]; ?></td>
	</tr>
	<tr>
		<th>Time attempted</th>
		<td>
			<?php if (!empty($this->entryDetails['timestampAttempted'])): ?>
				<?php echo $this->entryDetails['timestampAttempted'] . date(" (m/d/Y H:i:s)", $this->entryDetails['timestampAttempted']); ?>
			<?php endif; ?>
		</td>
	</tr>
	<tr>
		<th>Should Update User List?</th>
		<td><?php echo $this->entryDetails['shouldUpdateUserList'] == "y" ? "Yes" : "No"; ?></td>
	</tr>
	<tr>
		<th>Source script</th>
		<td><?php echo $this->entryDetails['source']; ?></td>
	</tr>
</table>

<?php if ($this->entryDetails['status'] == "error"): ?>
<h4>Failed API Call Management</h4>

	<a href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-queue-set-entry-pending', 'id' => $this->entryDetails["q_id"]), 'default', true); ?>"
		class="btn btn-success">Set Queue Entry to Pending</a>
	<a href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-queue-set-entry-ignored', 'id' => $this->entryDetails["q_id"]), 'default', true); ?>"
		class="btn btn-warning">Set Queue Entry to Ignored</a>

<?php endif;?>