<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'logs', 'action' => 'index'), 'default', true); ?>">Logs</a> <span class="divider">/</span></li>
	<li class="active">Browse API Status History</li>
</ul>

<table class="table table-bordered table-striped table-sortable table-condensed">
	<thead>
	<tr>
		<th>API Status</th>
		<th>Timestamp</th>
		<th>Time (human-readable)</th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($this->paginator as $error): ?>
		<tr>
			<td><?php echo $error["message"]; ?></td>
			<td><?php echo $error["timestamp"]; ?></td>
			<td><?php echo date("m/d/Y H:i:s", $error["timestamp"]); ?></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'searchPaginationControl.phtml'); ?>

<?php //dump($this->paginator); ?>
