<ul class="breadcrumb">
	<li><a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), 'default', true); ?>">Home</a> <span class="divider">/</span></li>
	<li class="active">Logs</li>
</ul>

<h3>App log</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Browse All Log Entries">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'all-entries'), 'default', true); ?>">
					<i class="fa fa-5x fa-sort-amount-asc"></i><br>
					Browse All Log Entries
				</a>
			</div>
			<div class="span2 adminPanel" title="Browse API Status History">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-status-history'), 'default', true); ?>">
					<i class="fa fa-5x fa-code"></i><br>
					Browse API Status History
				</a>
			</div>
			<div class="span2 adminPanel" title="Browse API Outages">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-outages'), 'default', true); ?>">
					<i class="fa fa-5x fa-exclamation-circle"></i><br>
					Browse API Outages
				</a>
			</div>
		</div>
	</div>
</div>

<h3>API Queue</h3>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2 adminPanel" title="Browse All Queue Entries">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-queue-all-entries'), 'default', true); ?>">
					<i class="fa fa-5x fa-sort-amount-asc"></i><br>
					Browse All API Queue Entries
				</a>
			</div>
			<div class="span2 adminPanel" title="Failed Queue Entries">
				<a class="thumbnail text-center" href="<?php echo $this->url(array('controller' => 'logs', 'action' => 'api-queue-failed-entries'), 'default', true); ?>">
					<i class="fa fa-5x fa-exclamation-circle"></i><br>
					Failed API Queue Entries
				</a>
			</div>
		</div>
	</div>
</div>