<h3>Script Execution Time</h3>
<p>Start: <?php echo $this->scriptStartTime; ?> </p>
<p>End: <?php echo $this->scriptEndTime; ?> </p>
<p>TIME TAKEN: <?php echo $this->scriptExecTime; ?> </p>

<p>Users loaded via: <?php echo $this->userSource; ?></p>

<h3>Users Changed:</h3>
<?php dump($this->usersUpdated); ?>

<h3>Status</h3>

<p>Percent complete</p>
<div class="progress">
	<div class="bar" style="width: <?php echo round($this->percentComplete, 0); ?>%;"></div>
</div>
<p><em><?php echo round($this->percentComplete, 2); ?>% complete</em></p>


<?php if ($this->showButton): ?>
	<p>Batch size: <?php echo $this->batchSize; ?></p>
	<a href="<?php echo $this->url(array('controller' => 'test', 'action' => 'backfill-default-phone-numbers', 'batchSize' => $this->batchSize, 'startAt' => $this->nextBatchStart), 'default', true); ?>" class="btn btn-primary">Next Batch!!</a>
<?php else: ?>
	<p>You are at the end of the data - no more records to process.</p>
<?php endif; ?>