<h4>Convert to timestamps action results</h4>

<p># of sessions converted: <?php echo count($this->sessionsConverted); ?></p>
<p># of attendees converted: <?php echo count($this->attendeesConverted); ?></p>
<p># of recordings converted: <?php echo count($this->recordingsConverted); ?></p>

