<h3>Script Execution Time</h3>
<p>Start: <?php echo $this->scriptStartTime; ?> </p>
<p>End: <?php echo $this->scriptEndTime; ?> </p>
<p>TIME TAKEN: <?php echo $this->scriptExecTime; ?> </p>

<h3>Test results:</h3>
<p><?php dump($this->stuff); ?></p>