<table class="table table-striped table-bordered">
	<tr>
		<th>ID</th>
		<th>Rec Date</th>
		<th>Username</th>
		<th>Name</th>
		<th>Size</th>
		<th>Duraton</th>
	</tr>
	<?php foreach($this->stuff as $s): ?>
	<tr>
		<td><?php echo $s["id"]; ?></td>
		<td><?php echo $s["recDate"]; ?></td>
		<td><?php echo $s["username"]; ?></td>
		<td><?php echo $s["name"]; ?></td>
		<td><?php echo $s["size"]; ?></td>
		<td><?php echo $s["duration"]; ?></td>
	</tr>
	<?php endforeach; ?>
</table>


<p>Raw test data:</p>
<p><?php dump($this->stuff); ?></p>