<div class="dashboard-panel panel">
	<div class="panel-heading"><i class="fa fa-th"></i> Change Report Interval</div>
	<?php if ($this->interval != "daily"): ?>
		<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName(), 'reportGroupId' => $this->reportGroupId, 'usageType' => $this->usageType, 'interval' => 'daily'), 'default', true); ?>" class="btn btn-primary">Daily</a>
	<?php endif; ?>
	<?php if ($this->interval != "weekly"): ?>
		<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName(), 'reportGroupId' => $this->reportGroupId, 'usageType' => $this->usageType, 'interval' => 'weekly'), 'default', true); ?>" class="btn btn-primary">Weekly</a>
	<?php endif; ?>
	<?php if ($this->interval != "monthly"): ?>
		<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName(), 'reportGroupId' => $this->reportGroupId, 'usageType' => $this->usageType, 'interval' => 'monthly'), 'default', true); ?>" class="btn btn-primary">Monthly</a>
	<?php endif; ?>
</div>