<div class="dashboard-panel panel">
    <div class="panel-heading"><i class="fa fa-calendar"></i> Current Date Range</div>
    <p><em><?php echo $this->dateRange; ?></em></p>
    <div class="panel-footer">
        <a href="#changeDateRange" role="button" class="btn btn-primary" data-toggle="modal">Change Date Range</a>
    </div>
</div>

<!-- Modal for choosing report group -->
<div id="changeDateRange" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeDateRangeLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="changeDateRangeLabel">Select Date Range:</h3>
	</div>
	<div class="modal-body">
		<?php if ($this->dateRanges): ?>
			<table class="table table-bordered table-striped table-condensed">
				<thead>
				<tr>
					<th>Start</th>
					<th>End</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<?php foreach($this->dateRanges as $index => $range): ?>
					<tr>
						<td><?php echo date("m/d/Y", $range["startTimestamp"]); ?></td>
						<td><?php echo date("m/d/Y", $range["endTimestamp"]); ?></td>
						<td>
							<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'set-active-date-range', 'rangeId' => $range["rangeId"], 'reportGroupId' => $this->reportGroupId, 'usageType' => $this->usageType, 'redirectAction' => Zend_Controller_Front::getInstance()->getRequest()->getActionName(), 'interval' => $this->interval), 'default', true); ?>" class="btn btn-success"><i class="fa fa-check"></i> Select</a>
						</td>
					</tr>
				<?php endforeach; ?>
				</tbody>
			</table>
		<?php else: ?>
			<p>No custom date ranges defined.</p>
			<p><a href="<?php echo $this->url(array('controller' => 'itc', 'action' => 'create-report-date-range'), 'default', true); ?>" class="btn btn-success"><i class="fa fa-plus"></i> Add a New Custom Date Range</a></p>
		<?php endif; ?>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i> Cancel</button>
	</div>
</div>