<div class="dashboard-panel panel">
    <div class="panel-heading"><i class="fa fa-list"></i> Current Report Group</div>
    <h4><em><?php echo $this->reportGroupName; ?></em></h4>
    <p><a href="#" rel="popover" data-content="Department codes: <?php echo implode(', ', $this->reportGroupCodes); ?>" class="wst-popover"><i class="fa fa-question-circle"></i> Show Dept Codes</a></p>
    <div class="panel-footer">
        <a href="#changeReportGroup" role="button" class="btn btn-primary" data-toggle="modal">Change Report Group</a>
    </div>
</div>

<!-- Modal for choosing report group -->
<div id="changeReportGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeReportGroupLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="changeReportGroupLabel">Select Report Group:</h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-striped table-condensed">
			<thead>
			<tr>
				<th>Group Name</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<?php foreach($this->reportGroups as $index => $group): ?>
				<tr>
					<td><?php echo $group["displayName"]; ?></td>
					<td>
						<a href="<?php echo $this->url(array('controller' => 'itc', 'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName(), 'reportGroupId' => $group["reportGroupId"], 'usageType' => $this->usageType, 'interval' => $this->interval), 'default', true); ?>" class="btn btn-success"><i class="fa fa-check"></i> Select</a>
					</td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i> Cancel</button>
	</div>
</div>

<script>
    $(function() {
        $popovers = $('.wst-popover');
        $popovers.popover();
        $popovers.on('click', function(e) {
            e.preventDefault();
        })
    });
</script>